{% extends "templates/base.html" %} {% load static %}
<hr />
{% block content %}
<link
  rel="stylesheet"
  href="{% static 'authentication/css/forgot_password.css' %}"
/>
<div class="main">
  <div class="col1">
    <img
      src="{% static 'authentication/img/forgot_password.svg' %}"
      class="forgot_password"
    />
  </div>

  <div class="col2">
    <h1 class="title">Forgot Your Password?</h1>
    <input type="email" class="email" placeholder="Enter your email" />
    <button class="send-email">Send Email</button>
    <h2 class="message">
      Didn't receive your email?<a href="" class="message"
        >Click here to resend.</a
      >
    </h2>
  </div>
</div>
{% endblock content %}
