{% extends "templates/base.html" %} {% load static %}
<hr />
{% block content %}
<link
  rel="stylesheet"
  href="{% static 'authentication/css/password_reset.css' %}"
/>

<div class="password-reset">
  <div class="password-reset__img">
    <img src="{% static 'authentication/img/password_reset.svg' %}" alt="" />
    <div class="frost bg-mediumBlue" style="height: 50vh; width: 50vh"></div>
  </div>
  <div class="password-reset__form">
    {% if messages %} {% for message in messages %}
    <p class="s-l w-h {{ message.tags }}">{{ message }}</p>
    {% endfor %} {% endif %}

    <p class="s-2l w-h">Forgot Password?</p>

    <form method="POST">
      {% csrf_token %}
      <div style="margin: 25px 0px">
        {% with title="Enter your email here" %}
        <span></span>
        {% with type="email" %}
        <span></span>
        {% with icon="email" %}
        <span></span>
        {% with name="email" %}
        <span></span>
        {% with required="True" %}
        <span></span>
        {% include "templates/textInput.html" %}
        <span></span>
        {% endwith %}
        <span></span>
        {% endwith %}
        <span></span>
        {% endwith %}
        <span></span>
        {% endwith %}
        <span></span>
        {% endwith %}
      </div>

      <button class="bg-mediumBlue c-white stretch padding">
        Send reset link
      </button>
    </form>
  </div>
</div>
{% endblock content %}
