{% extends "templates/base.html" %} {% load static %}
<hr />
{% block content %}
<link
  rel="stylesheet"
  href="{% static 'authentication/css/reset_password_confirm.css' %}"
/>

<div class="reset-password-confirm">
  <div class="reset-password-confirm__img">
    <img
      src="{% static 'authentication/img/reset_password_confirm.svg' %}"
      alt=""
    />
    <div class="frost bg-red" style="height: 50vh; width: 50vh"></div>
  </div>
  <div class="reset-password-confirm__form">
    <p class="s-2l w-h">Reset Password</p>

    <div style="margin: 25px 0px">
      <!-- Enter new password -->
      {% with title="Enter new password" %}
      <span></span>
      {% with type="password" %}
      <span></span>
      {% with icon="password" %}
      <span></span>
      {% include "templates/textInput.html" %}
      <span></span>
      {% endwith %}
      <span></span>
      {% endwith %}
      <span></span>
      {% endwith %}
      <!-- Confirm new password -->
      {% with title="Confirm new password" %}
      <span></span>
      {% with type="password" %}
      <span></span>
      {% with icon="check" %}
      <span></span>
      {% include "templates/textInput.html" %}
      <span></span>
      {% endwith %}
      <span></span>
      {% endwith %}
      <span></span>
      {% endwith %}
    </div>

    <button class="bg-red c-white stretch padding">Send reset link</button>
  </div>
</div>
{% endblock content %}
