{% extends "templates/base.html" %} {% load static %}
<hr />
{% block content %}
<link rel="stylesheet" href="{% static 'authentication/css/sign_up.css' %}" />

<div class="sign-up">
  <div class="sign-up__img">
    <img src="{% static 'authentication/img/sign_up.svg' %}" alt="" />
    <div class="frost bg-darkBlue" style="height: 50vh; width: 50vh"></div>
  </div>
  <div class="sign-up__form">
    <p class="s-2l w-h">Welcome to Aurora!</p>
    <pre
      class="s-l w-m"
    >Already have an account? <a href="{% url 'authentication:sign_in' %}" class="c-darkBlue">Sign in!</a></pre>

    <div style="margin: 25px 0px">
      <p class="s-m w-m">Email Address</p>
      <input type="text" class="text s-l w-m" />
      <p class="s-m w-m">Password</p>
      <input type="text" class="text s-l w-m" />
      <p class="s-m w-m">Confirm Password</p>
      <input type="text" class="text s-l w-m" />
    </div>

    <button class="bg-darkBlue c-white stretch padding">Sign up</button>
  </div>
</div>

{% endblock content %}
