{% extends "templates/base.html" %} {% load static %}
<hr />
{% block content %}
<link rel="stylesheet" href="{% static 'authentication/css/sign_in.css' %}" />
<div class="sign-in">
  <div class="sign-in__img">
    <img src="{% static 'authentication/img/sign_in.svg' %}" alt="" />
    <div class="frost bg-orange" style="height: 50vh; width: 50vh"></div>
  </div>
  <div class="sign-in__form">
    <p class="s-2l w-h">Welcome back!</p>
    <pre
      class="s-l w-m"
    >Don't have an account? <a href="{% url 'authentication:sign_up' %}" class="c-orange">Sign up!</a></pre>

    <form method="POST">
      <div style="margin: 25px 0px">
        {% with title="Enter your email here" %}
        <span></span>
        {% include "templates/textInput.html" with icon="email" type="email" %}
        <span></span>
        {% endwith %}
        <!-- ---------- -->
        {% with title="Enter your password here" %}
        <span></span>
        {% with type="password" %}
        <span></span>
        {% include "templates/textInput.html" with icon="lock" %}
        <span></span>
        {% endwith %}
        <span></span>
        {% endwith %}
        <pre
          class="s-l w-m"
        >Forgot password? <a href="{% url 'authentication:forgot_password' %}" class="c-orange">Click here!</a></pre>
      </div>

      <button class="bg-orange c-white stretch padding" type="submit">
        Sign in
      </button>
    </form>
  </div>
</div>
{% endblock content %}
