{% extends "dashboard/dashboard.html" %} {% load static %}

<hr />
{% block viewContent %}
<link rel="stylesheet" href="{% static 'dashboard/css/add_product.css' %}" />

<div class="addProduct">
  <!-- TODO: General Product Information -->
  <p class="s-2l w-h" style="margin-bottom: 12.5px">
    General Product Information
  </p>

  <!-- DONE: Name -->
  <div class="addProduct__inputContainer">
    <p class="s-l w-h">Name</p>
    <input type="text" class="addProduct__input" />
    <p class="s-s w-l">Name should be accurate and descriptive.</p>
  </div>

  <div style="display: flex">
    <!-- DONE: Condition -->
    <div class="addProduct__inputContainer" style="padding-right: 12.5px">
      <p class="s-l w-h">Condition</p>
      <input
        type="text"
        class="addProduct__input"
        placeholder="Product is factory sealed and hasn't been opened..."
      />
      <p class="s-s w-l">
        Write a short description about the condition of the product.
      </p>
    </div>

    <!-- DONE: Returns -->
    <div class="addProduct__inputContainer" style="padding-left: 12.5px">
      <p class="s-l w-h">Returns</p>
      <input
        type="text"
        class="addProduct__input"
        placeholder="Returns are accepted withing 7 days after shipping..."
      />
      <p class="s-s w-l">
        Write a short description about the return policy of the product.
      </p>
    </div>
  </div>

  <!-- DONE: Product Images -->
  <div class="addProduct__inputContainer">
    <p class="s-l w-h">Product Images</p>
    <div style="display: flex">
      <div class="addProduct__imgUploadContainer dashed">
        <img class="vis" />
        <span class="material-icons-outlined s-xl w-h"> add </span>
        <input class="addProduct__uploadBtn" type="file" />
      </div>
      <div class="addProduct__imgUploadContainer dashed">
        <img class="vis" />
        <span class="material-icons-outlined s-xl w-h"> add </span>
        <input class="addProduct__uploadBtn" type="file" />
      </div>
      <div class="addProduct__imgUploadContainer dashed">
        <img class="vis" />
        <span class="material-icons-outlined s-xl w-h"> add </span>
        <input class="addProduct__uploadBtn" type="file" />
      </div>
      <div class="addProduct__imgUploadContainer dashed">
        <img class="vis" />
        <span class="material-icons-outlined s-xl w-h"> add </span>
        <input class="addProduct__uploadBtn" type="file" />
      </div>
    </div>
    <p class="s-s w-l">
      You can upload a maximum of 4 images. Make sure that the images are
      detailed and appealing to get more views.
    </p>
  </div>

  <!-- DONE: Features -->
  <div class="addProduct__inputContainer">
    <p class="s-l w-h">Features</p>
    <textarea
      class="addProduct__input"
      cols="15"
      rows="10"
      placeholder="
      Brand: Apple
      Color: Red
      Processor: A15 Bionic Chip"
    ></textarea>
    <p class="s-s w-l">What are your product's features?</p>
  </div>

  <!-- TODO: Price, Payments & Stock-->
  <p class="s-2l w-h" style="margin-bottom: 12.5px">
    Price, Payments & Stocks Information
  </p>

  <div style="display: flex">
    <!-- DONE: Price -->
    <div class="addProduct__inputContainer" style="padding-right: 12.5px">
      <p class="s-l w-h">Price</p>
      <input type="text" class="addProduct__input" />
      <p class="s-s w-l">
        Set a reasonable price for increasing the chances of selling the
        product.
      </p>
    </div>

    <!-- DONE: Stocks -->
    <div class="addProduct__inputContainer" style="padding-left: 12.5px">
      <p class="s-l w-h">Stock</p>
      <input type="text" class="addProduct__input" />
      <p class="s-s w-l">How many of these items are you selling?</p>
    </div>
  </div>

  <!-- DONE: Payments Via -->
  <div class="addProduct__inputContainer">
    <p class="s-l w-h">Payments Via</p>
    <div
      style="display: flex; margin: 12.5px 0px; justify-content: space-between"
    >
      <button class="addProduct__paymentBtn dashed">
        <img
          src="https://img.icons8.com/plasticine/100/000000/paypal.png"
          style="width: 25px; height: 25px; margin-right: 12.5px"
        />
        Paypal
      </button>
      <button class="addProduct__paymentBtn dashed">
        <img
          src="https://img.icons8.com/plasticine/100/000000/visa.png"
          style="width: 25px; height: 25px; margin-right: 12.5px"
        />
        Visa
      </button>
      <button class="addProduct__paymentBtn dashed">
        <img
          src="https://img.icons8.com/plasticine/100/000000/mastercard.png"
          style="width: 25px; height: 25px; margin-right: 12.5px"
        />
        Mastercard
      </button>
    </div>
  </div>

  <!-- TODO: Shipping Information -->

  <p class="s-2l w-h" style="margin-bottom: 12.5px">Shipping Information</p>

  <div style="display: flex">
    <!-- DONE: Shipping -->
    <div class="addProduct__inputContainer">
      <p class="s-l w-h">Shipping</p>
      <input
        class="addProduct__input"
        placeholder="International shipping via priority mail..."
      />
      <p class="s-s w-l">
        Write a short description about the shipping of the product.
      </p>
    </div>

    <!-- DONE: Shipping Price -->
    <div class="addProduct__inputContainer" style="padding: 0px 25px">
      <p class="s-l w-h">Shipping Price</p>
      <input class="addProduct__input" />
      <p class="s-s w-l">The shipping price may vary.</p>
    </div>

    <!-- DONE: Product Location -->
    <div class="addProduct__inputContainer">
      <p class="s-l w-h">Product Location</p>
      <input class="addProduct__input" />
      <p class="s-s w-l">Where is the product located?</p>
    </div>
  </div>

  <!-- DONE: Product does not ship to -->
  <div class="addProduct__inputContainer">
    <p class="s-l w-h">Product does not ship to</p>
    <textarea class="addProduct__input" cols="15" rows="10"></textarea>
    <p class="s-s w-l">Where won't the products be shipped?</p>
  </div>
</div>

<script src="{% static 'dashboard/js/add_product.js' %}"></script>

{% endblock viewContent %}
