{% extends "dashboard/dashboard.html" %} {% load static %}

<hr />
{% block viewContent %}
<link rel="stylesheet" href="{% static 'dashboard/css/add_product.css' %}" />

<form class="addProduct" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <!-- TODO: General Product Information -->

  <p class="s-2l w-h" style="margin-bottom: 12.5px">
    General Product Information
  </p>

  <!-- DONE: Name -->
  <div class="addProduct__inputContainer">
    <p class="s-l w-h">Name</p>
    <input type="text" class="addProduct__input" name="name" />
    <p class="s-s w-l">Name should be accurate and descriptive.</p>
  </div>

  <div style="display: flex">
    <!-- DONE: Condition -->
    <div class="addProduct__inputContainer" style="padding-right: 12.5px">
      <p class="s-l w-h">Condition</p>
      <input
        type="text"
        class="addProduct__input"
        placeholder="Product is factory sealed and hasn't been opened..."
        name="condition"
      />
      <p class="s-s w-l">
        Write a short description about the condition of the product.
      </p>
    </div>

    <!-- DONE: Returns -->
    <div class="addProduct__inputContainer" style="padding-left: 12.5px">
      <p class="s-l w-h">Returns</p>
      <input
        type="text"
        class="addProduct__input"
        placeholder="Returns are accepted withing 7 days after shipping..."
        name="returns"
      />
      <p class="s-s w-l">
        Write a short description about the return policy of the product.
      </p>
    </div>
  </div>

  <!-- DONE: Product Images -->
  <div class="addProduct__inputContainer">
    <p class="s-l w-h">Product Images</p>
    <div style="display: flex">
      <div class="addProduct__imgUploadContainer dashed">
        <img class="vis" />
        <span class="material-icons-outlined s-xl w-h"> add </span>
        <input class="addProduct__uploadBtn" type="file" name="image-1" />
      </div>
      <div class="addProduct__imgUploadContainer dashed">
        <img class="vis" />
        <span class="material-icons-outlined s-xl w-h"> add </span>
        <input class="addProduct__uploadBtn" type="file" name="image-2" />
      </div>
      <div class="addProduct__imgUploadContainer dashed">
        <img class="vis" />
        <span class="material-icons-outlined s-xl w-h"> add </span>
        <input class="addProduct__uploadBtn" type="file" name="image-3" />
      </div>
      <div class="addProduct__imgUploadContainer dashed">
        <img class="vis" />
        <span class="material-icons-outlined s-xl w-h"> add </span>
        <input class="addProduct__uploadBtn" type="file" name="image-4" />
      </div>
    </div>
    <p class="s-s w-l">
      You can upload a maximum of 4 images. Make sure that the images are
      detailed and appealing to get more views.
    </p>
  </div>

  <!-- DONE: Features -->
  <div class="addProduct__inputContainer">
    <p class="s-l w-h">Features</p>
    <textarea
      class="addProduct__input"
      cols="15"
      rows="10"
      placeholder="
      Brand: Apple
      Color: Red
      Processor: A15 Bionic Chip"
      name="features"
    ></textarea>
    <p class="s-s w-l">What are your product's features?</p>
  </div>

  <!-- TODO: Price, Payments & Stock-->
  <p class="s-2l w-h" style="margin-bottom: 12.5px">
    Price, Payments & Stocks Information
  </p>

  <div style="display: flex">
    <!-- DONE: Price -->
    <div class="addProduct__inputContainer" style="padding-right: 12.5px">
      <p class="s-l w-h">Price</p>
      <input type="text" class="addProduct__input" name="price" />
      <p class="s-s w-l">
        Set a reasonable price for increasing the chances of selling the
        product.
      </p>
    </div>

    <!-- DONE: Stocks -->
    <div class="addProduct__inputContainer" style="padding-left: 12.5px">
      <p class="s-l w-h">Stock</p>
      <input type="text" class="addProduct__input" name="stock" />
      <p class="s-s w-l">How many of these items are you selling?</p>
    </div>
  </div>

  <!-- DONE: Payments Via -->
  <div class="addProduct__inputContainer">
    <p class="s-l w-h">Payments Via</p>
    <div
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <div class="toggle" data-type="paypal">
        <img src="https://img.icons8.com/office/480/000000/paypal.png" />
        <p class="s-m w-h">Paypal</p>
        <input type="checkbox" name="paypal" id="paypal" />
      </div>
      <div class="toggle" data-type="mastercard">
        <img src="https://img.icons8.com/dusk/480/000000/mastercard.png" />
        <p class="s-m w-h">Mastercard</p>
        <input type="checkbox" name="mastercard" id="mastercard" />
      </div>
      <div class="toggle" data-type="visa">
        <img src="https://img.icons8.com/office/480/000000/visa.png" />
        <p class="s-m w-h">Visa</p>
        <input type="checkbox" name="visa" id="visa" />
      </div>
    </div>
  </div>

  <!-- TODO: Shipping Information -->

  <p class="s-2l w-h" style="margin-bottom: 12.5px">Shipping Information</p>

  <div style="display: flex">
    <!-- DONE: Shipping -->
    <div class="addProduct__inputContainer">
      <p class="s-l w-h">Shipping</p>
      <input
        class="addProduct__input"
        placeholder="International shipping via priority mail..."
        name="shipping"
      />
      <p class="s-s w-l">
        Write a short description about the shipping of the product.
      </p>
    </div>

    <!-- DONE: Shipping Price -->
    <div class="addProduct__inputContainer" style="padding: 0px 25px">
      <p class="s-l w-h">Shipping Price</p>
      <input class="addProduct__input" name="shipping-price" />
      <p class="s-s w-l">The shipping price may vary.</p>
    </div>

    <!-- DONE: Product Location -->
    <div class="addProduct__inputContainer">
      <p class="s-l w-h">Product Location</p>
      <input class="addProduct__input" name="product-location" />
      <p class="s-s w-l">Where is the product located?</p>
    </div>
  </div>

  <!-- DONE: Product does not ship to -->
  <div class="addProduct__inputContainer">
    <p class="s-l w-h">Product does not ship to</p>
    <textarea
      class="addProduct__input"
      cols="15"
      rows="10"
      name="product-does-not-ship-to"
    ></textarea>
    <p class="s-s w-l">Where won't the products be shipped?</p>
  </div>

  <button type="submit" class="bg-red c-white shadow" style="width: 100%">
    Proceed
  </button>
</form>

<script src="{% static 'dashboard/js/add_product.js' %}"></script>

{% endblock viewContent %}
