{% extends "dashboard/dashboard.html" %} {% load static %}

<hr />
{% block viewName %} Cart {% endblock viewName %}
<hr />
{% block viewContent %}

<link rel="stylesheet" href="{% static 'dashboard/css/cart.css' %}" />

<div class="cart">
  <!-- TODO: Products -->
  <div class="cart__products">
    {% for product in cart.products.all %}

    <div class="product">
      <!-- * TODO: Picture Link -->
      <div
        class="product__img"
        style="
            background-image: url('{{product.image_1.url}}');
          "
      ></div>
      <!-- * TODO: Blurred Background -->

      <div class="product__content">
        <!-- * TODO: Product Name -->
        <a href="{% url 'main:product' product.id %}">
          <p
            class="s-l w-h"
            style="height: 7.05vh; align-items: start; overflow: hidden"
          >
            {{product.name}}
          </p>
        </a>
        <!-- * TODO: Product Ratings -->
        <div style="display: flex; margin: 6.25px 0px">
          {% with ratings=product.ratings %}
          <span></span>
          {% include "templates/ratings.html" %}
          <span></span>
          {% endwith %}
        </div>
        <!-- * TODO: Product Price -->
        <p class="s-l w-h">USD {{ product.price }}</p>
        <!-- * TODO: Product Shipping Estimate -->
        <p class="s-m w-l">
          +USD {{ product.shipping_price }} shipping estimate
        </p>
        <!-- * TODO: Add to cart, watchlist and wishlist buttons -->
        <form method="POST" style="display: flex; margin-top: 6.25px">
          {% csrf_token %} {% if product in cart.products.all %}
          <button class="toggled c-red" type="submit" data-color="#ef233c">
            <input type="submit" name="cart" value="{{ product.id }}" />
            <span class="material-icons-outlined s-l">add_shopping_cart</span>
          </button>
          {% else %}
          <button class="toggle" type="submit" data-color="#ef233c">
            <input type="submit" name="cart" value="{{ product.id }}" />
            <span class="material-icons-outlined s-l">add_shopping_cart</span>
          </button>
          {% endif %} {% if product in wishlist.products.all %}
          <button class="toggled c-dark-blue" data-color="#3d5a80">
            <input type="submit" name="wishlist" value="{{ product.id }}" />
            <span class="material-icons-outlined s-l">star_border</span>
          </button>
          {% else %}
          <button class="toggle" data-color="#3d5a80">
            <input type="submit" name="wishlist" value="{{ product.id }}" />
            <span class="material-icons-outlined s-l">star_border</span>
          </button>
          {% endif %} {% if product in watchlist.products.all %}
          <button class="toggled c-orange" data-color="#ee6c4d">
            <input type="submit" name="watchlist" value="{{ product.id }}" />
            <span class="material-icons-outlined s-l">remove_red_eye</span>
          </button>
          {% else %}
          <button class="toggle" data-color="#ee6c4d">
            <input type="submit" name="watchlist" value="{{ product.id }}" />
            <span class="material-icons-outlined s-l">remove_red_eye</span>
          </button>
          {% endif %}
        </form>

        <!-- * TODO: Account Type -->

        {% if product.seller.account_type == "New Seller" %}

        <div class="product__account-type bg-red c-white">
          <span class="material-icons-outlined s-l">new_releases</span>
          <p class="s-s w-h" style="margin-left: 5px">
            {{ product.seller.account_type }}
          </p>
        </div>

        {% elif product.seller.account_type == "Top Rated Seller" %}

        <div class="product__account-type bg-orange c-white">
          <span class="material-icons-outlined s-l">auto_graph</span>
          <p class="s-s w-h" style="margin-left: 5px">
            {{ product.seller.account_type }}
          </p>
        </div>

        {% elif product.seller.account_type == "Verified Seller" %}

        <div class="product__account-type bg-darkBlue c-white">
          <span class="material-icons-outlined s-l">verified</span>
          <p class="s-s w-h" style="margin-left: 5px">
            {{ product.seller.account_type }}
          </p>
        </div>

        {% endif %}
      </div>
    </div>

    {% endfor %}
  </div>

  <!-- TODO: Finances -->
  <div class="cart__finances">
    <div class="module shadow bg-darkBlue c-white">
      <p class="s-l w-h">Total Price</p>
      <p class="s-m w-m">USD {{cart.get_total_price|floatformat:2}}</p>
    </div>
    <div class="module shadow bg-mediumBlue c-white">
      <p class="s-l w-h">Total Shipping</p>
      <p class="s-m w-m">USD {{cart.get_total_shipping|floatformat:2}}</p>
    </div>
    <div class="module shadow bg-orange c-white">
      <p class="s-l w-h">Total Payable Amount</p>
      <p class="s-m w-m">USD {{cart.get_total_cost|floatformat:2}}</p>
    </div>
  </div>

  <!-- TODO: Delivery -->
  <form class="cart__delivery shadow" method="POST">
    {% csrf_token %}
    <!------ Name ------>
    <div class="delivery__input-container">
      <p class="s-l w-h">Name</p>
      <input
        type="text"
        placeholder="John Appleseed..."
        value="{{user.full_name}}"
        name="order-name"
      />
      <p class="s-s w-l">Please enter your full name.</p>
    </div>

    <div style="display: flex">
      <!------ Email ------>
      <div class="delivery__input-container" style="margin-right: 12.5px">
        <p class="s-l w-h">Email</p>
        <input
          type="text"
          placeholder="johnappleseed@aurora.com"
          value="{{user.user.email}}"
          name="order-email"
        />
        <p class="s-s w-l">Please enter your email.</p>
      </div>

      <!------ Email ------>
      <div class="delivery__input-container" style="margin-left: 12.5px">
        <p class="s-l w-h">Contact</p>
        <input
          type="text"
          placeholder="(555) 555-1234..."
          value="{{user.contact}}"
          name="order-contact"
        />
        <p class="s-s w-l">Please enter your contact number.</p>
      </div>
    </div>

    <div style="display: flex">
      <!------ Address ------>
      <div class="delivery__input-container">
        <p class="s-l w-h">Address</p>
        <input
          type="text"
          placeholder="Capsule 510, SOL 218, Mars."
          value="{{user.address}}"
          name="order-address"
        />
        <p class="s-s w-l">Please enter your full address.</p>
      </div>

      <!------ Zip code ------>
      <div
        class="delivery__input-container"
        style="width: 25%; margin-left: 25px"
      >
        <p class="s-l w-h">Zip code</p>
        <input
          type="text"
          placeholder="XYZ-123456"
          value="{{user.zip_code}}"
          name="order-zip-code"
        />
        <p class="s-s w-l">Please enter your area's zip code</p>
      </div>
    </div>

    <div style="display: flex; justify-content: space-between">
      <!------ Country ------>
      <div
        class="delivery__input-container"
        style="width: calc((100% - 50px) / 3)"
      >
        <p class="s-l w-h">Country</p>
        <input
          type="text"
          placeholder="Bangladesh"
          value="{{user.country}}"
          name="order-country"
        />
        <p class="s-s w-l">Please enter your countries name.</p>
      </div>

      <!------ Email ------>
      <div
        class="delivery__input-container"
        style="width: calc((100% - 50px) / 3)"
      >
        <p class="s-l w-h">State/Province</p>
        <input
          type="text"
          placeholder="(555) 555-1234..."
          value="{{user.state_province}}"
          name="order-state-province"
        />
        <p class="s-s w-l">Please enter the name of your state/province.</p>
      </div>

      <!------ City ------>
      <div
        class="delivery__input-container"
        style="width: calc((100% - 50px) / 3)"
      >
        <p class="s-l w-h">City</p>
        <input
          type="text"
          placeholder="(555) 555-1234..."
          value="{{user.city}}"
          name="order-city"
        />
        <p class="s-s w-l">Please enter the name of your city.</p>
      </div>
    </div>

    <button class="bg-red c-white shadow">
      Place order
      <input type="submit" name="submit-cart" value="Click me " />
    </button>
  </form>
</div>

<script src="{% static 'dashboard/js/cart.js' %}"></script>

{% endblock viewContent %}
