{% extends "dashboard/dashboard.html" %} {% load static %}

<hr />
{% block viewName %} Cart {% endblock viewName %}
<hr />
{% block viewContent %}

<link rel="stylesheet" href="{% static 'dashboard/css/cart.css' %}" />

<div class="cart">
  <div class="cart__product">
    <button class="cart__product__delete">
      <span class="material-icons-outlined" style="font-size: 15px">
        close
      </span>
    </button>

    <div class="cart__product__image">
      <img
        src="https://images.pexels.com/photos/3707744/pexels-photo-3707744.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
        alt=""
        class="vis"
      />
    </div>

    <div class="cart__product__information">
      <p class="cart__product__name">
        Apple iPhone 12 Pro Max - 256gb - Unlocked - Factory Sealed - Factory
        Warranty
      </p>
      <p class="cart__product__seller">John Doe</p>
      <p class="cart__product__price">USD 1299.99</p>
      <p class="cart__product__shippingEstimate">
        +USD 50.76 shipping estimate
      </p>
      <p class="cart__product__totalPrice">Total Price: USD 1350.75</p>

      <div class="cart__product__quantity">
        <button class="cart__product__quantity__button">-</button>
        <p class="cart__product__quantity__display">Quantity: 1</p>
        <button class="cart__product__quantity__button">+</button>
      </div>
    </div>
  </div>

  <div class="cart__product">
    <button class="cart__product__delete">
      <span class="material-icons-outlined" style="font-size: 15px">
        close
      </span>
    </button>

    <div class="cart__product__image">
      <img
        src="https://images.pexels.com/photos/2582928/pexels-photo-2582928.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
        alt=""
        class="vis"
      />
    </div>

    <div class="cart__product__information">
      <p class="cart__product__name">
        ASUS ROG ZEPHYRUS GU502LV GX502LXS CORE I7-10750H MOTHERBOARD
        90NR04F0-R00051
      </p>
      <p class="cart__product__seller">John Doe</p>
      <p class="cart__product__price">USD 846.39</p>
      <p class="cart__product__shippingEstimate">
        +USD 52.73 shipping estimate
      </p>
      <p class="cart__product__totalPrice">Total Price: USD 914.41</p>

      <div class="cart__product__quantity">
        <button class="cart__product__quantity__button">-</button>
        <p class="cart__product__quantity__display">Quantity: 1</p>
        <button class="cart__product__quantity__button">+</button>
      </div>
    </div>
  </div>

  <div class="cart__product">
    <button class="cart__product__delete">
      <span class="material-icons-outlined" style="font-size: 15px">
        close
      </span>
    </button>

    <div class="cart__product__image">
      <img
        src="https://images.pexels.com/photos/7742585/pexels-photo-7742585.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
        alt=""
        class="vis"
      />
    </div>

    <div class="cart__product__information">
      <p class="cart__product__name">
        iPhone 12 Pro Max 12 Mini 12 Fast Charging 20W Wireless Magnetic Magsafe
        Charger
      </p>
      <p class="cart__product__seller">John Doe</p>
      <p class="cart__product__price">USD 14.99</p>
      <p class="cart__product__shippingEstimate">
        +USD 24.74 shipping estimate
      </p>
      <p class="cart__product__totalPrice">Total Price: USD 16.45</p>

      <div class="cart__product__quantity">
        <button class="cart__product__quantity__button">-</button>
        <p class="cart__product__quantity__display">Quantity: 1</p>
        <button class="cart__product__quantity__button">+</button>
      </div>
    </div>
  </div>

  <div class="cart__shopMore">
    <p class="cart__shopMore__text">
      Shop more and add more items to your cart!
    </p>
  </div>
</div>

<div class="checkoutInfo">
  <div class="checkoutInfo__userInfo">
    <div class="checkoutInfo__userInfo__profileImg">
      <img
        src="https://lh3.googleusercontent.com/DrXUvOaNXKU8MhFZiqdx4PeBD5Xw3SeSi3WYDX8eqZIByw_MKsFdOzMljd0KNIIhNsyrdxhgLkG5d52DG1KPlsg_f3sFMcpP89yLEtQNsBpwNA1H5qeutOpCizSWOpAZ6BrEw-f1Hn_GE7Pbw5b17Eb1nKRiy4M0tnsSUjdURVM1UMf3ASktKyLmiFna8cnWccY6qdvhnZlRz2WI6gcqal7PqaLmwvtHicjESq86Jl73YooQpW8ZE9JIbX4wAJGkIGMEqNyJBapDuA9der6ltzxqZsic_ZXm1PMBLVj2aqI9ePR0WgSEmrjDJTQF1tYzU3vMISMcd2n1iZeeD3D7aWd0yzFfyA2yaKAgTwA6ZzCaZCuBI4quR2nSs-OdLJfNCKUJL4gFt2DxLFvEvrSa329IXbvuz2K8gBode1vpy-BuWvowS_--5GdCePBG26mu2wd2GRGqai-Z4ys-wJakBEqVkQpQcJbi9lL4b-rl3Fzi2tNL_YFMN2Mg6C5IrWAISye5vt_dl3nReZJaM7lHpHCKDCicdRoXigAwNSUsnkGp0XmKGM0EDOxCi2rFSMNtz6dT9y9Tz4dg8COFkqcZgiOWv8ubTChvbPJPFaFRz_zAt-bucAiNh4wGLq68lbvzV7W_YOr3hjSTPJXKct_gJEYBhf2AXWWlLSzoI8WloLQr0z2i9PzjsQa0Pl4nKMyH5kMT--Zwphw1AJtTqZ62RJo=w998-h1495-no?authuser=0"
        alt=""
        class="vis"
      />
    </div>

    <p class="checkoutInfo__userInfo__fullname">Yasa Zaheen</p>
    <p class="checkoutInfo__userInfo__email">yasazaheen@gmail.com</p>
  </div>

  <div class="checkoutInfo__shippingDetails">
    <h3 class="checkoutInfo__title">Shipping Details</h3>

    <p class="checkoutInfo__inputName">Address</p>
    <textarea class="checkoutInfo__input" id="" cols="1" rows="2"></textarea>

    <p class="checkoutInfo__inputName">City, Country</p>
    <input type="text" class="checkoutInfo__input" />

    <p class="checkoutInfo__inputName">ZIP Code</p>
    <input type="text" class="checkoutInfo__input" />
  </div>

  <div class="checkoutInfo__contactDetails">
    <h3 class="checkoutInfo__title">Contact Details</h3>

    <p class="checkoutInfo__inputName">Email</p>
    <input type="email" class="checkoutInfo__input" />

    <p class="checkoutInfo__inputName">Phone Number</p>
    <input type="tel" class="checkoutInfo__input" />
  </div>

  <div class="checkoutInfo__priceDetails">
    <h3 class="checkoutInfo__title">Price Details</h3>

    <p class="checkoutInfo__inputName">Total Price</p>
    <div class="checkoutInfo__infoContainer">USD 2177.61</div>

    <p class="checkoutInfo__inputName">Total Shipping</p>
    <div class="checkoutInfo__infoContainer">USD 103.01</div>

    <p class="checkoutInfo__inputName">Total Cost</p>
    <div class="checkoutInfo__infoContainer">USD 2280.62</div>
  </div>

  <button class="proceedToCheckout">Proceed To Checkout</button>
</div>

{% endblock viewContent %}
