{% extends "dashboard/dashboard.html" %} {% load static %}
<hr />

{% block viewContent %}

<link rel="stylesheet" href="{% static 'dashboard/css/crm.css' %}" />

<div class="crm">
  {% for order in user.get_seller_orders %}

  <div class="crm__order module shadow">
    <div style="display: flex; justify-content: space-between">
      <p class="s-l w-h" style="margin-bottom: 12.5px">
        Order no. #{{order.id}}
      </p>
      <a href="#" class="order__link">View Details</a>
    </div>
    <!-- TODO: Table -->

    <table class="order__table">
      <tr>
        <td style="width: 50%">
          <p class="s-s w-h">Name</p>
        </td>
        <td style="width: 50%">
          <p class="s-s w-l">{{order.name}}</p>
        </td>
      </tr>
      <tr>
        <td style="width: 50%">
          <p class="s-s w-h">Country</p>
        </td>
        <td style="width: 50%">
          <p class="s-s w-l">{{order.country}}</p>
        </td>
      </tr>
    </table>

    <!-- TODO: Status -->

    <!-- TODO: Products -->

    {% for product in order.products.all %}
    <span></span>
    {% if product.seller == user %}
    <div class="order__product">
      <div class="product-imgs">
        <img src="{{product.image_1.url}}" alt="" />
        <img src="{{product.image_2.url}}" alt="" />
        <img src="{{product.image_3.url}}" alt="" />
        <img src="{{product.image_4.url}}" alt="" />
      </div>
      <div
        style="display: flex; flex-direction: column; justify-content: center"
      >
        <p class="s-m w-h" style="height: fit-content">{{product.name}}</p>
        <pre><p class="s-l w-h">USD {{product.price}}</p><p class="s-s w-l"> + USD {{product.shipping_price}} shipping estimate.</p></pre>
      </div>
    </div>
    {% endif %}
    <span></span>
    {% endfor %}

    <!-- TODO: DOO -->

    <div style="display: flex; justify-content: space-between">
      <p class="s-l w-h">
        Date of order: {{ order.date_of_order|date:"d M Y" }}
      </p>
      <p class="s-l w-h bg-red c-white order__status">{{order.status}}</p>
    </div>
  </div>

  {% endfor %}
</div>

<script src="{% static 'dashboard/js/crm.js' %}"></script>
{% endblock viewContent %}
