{% extends "dashboard/dashboard.html" %} {% load static %}

<br />
{% block viewName %} Home {% endblock viewName %}
<hr />
{% block viewContent %}
<link rel="stylesheet" href="{% static 'dashboard/css/home.css' %}" />

<div class="home">
  <div
    class="home__banner shadow"
    style="
      background-image: url(https://images.unsplash.com/photo-1531366936337-7c912a4589a7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YXVyb3JhfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=60);
    "
  >
    <div class="banner__userInfo">
      <div
        class="userInfo__profileImg"
        style="
          background-image: url(https://lh3.googleusercontent.com/N5q1B95KZoHPTvmgbF2VdgImmXeGPy96cXlMAOpHuz9IiHkNvj97ue0cgnlqCEQIBVMQNPkMxxKi4Yx3QNwHy72LB2BGMZ64a_bYwVQ7jrIhzrPjBZH-Db-kDuGqCYu-8E2Qmkj7ys5zqfp5sDQye64tpwS3XempLk1eAfBKW8-jte5GkQlqTbvFTmwMKpimMscCVP3ltwVvY-909hgNmybzA_0F9VTjzvB1cwvbd1JozmnhfSSh-opByQgZN0wLt06C7WbIXY9K-WzG9EwwBuCbu0RKnz1EzB_ZwxlweP-ifNJS_wSOS7Sq-Brx0I9hyWRUE3qGe0taqcyCeXnv-5cnlqpjb7m8NbuiI54FWHaq88qTfulLJdzRgVU1LD9U1H19pT2ybp2vApilVb9zzd5vyh_9AlQc2sKUekXXMsGSjtwvAYWkQg1PBWcu0exqysE543RO_RZUQCqxrQGwUFSHaL3jZY71jY-QTlrY-c1vgbirdc4HXLLcoEH2Uw70zY9ja7DhXU4x3kKZbW0roM3kx9AaMYdwqqr8kmDThfpTsm4Su0z-lrVOcYvifrCp8OxYUGRcCVaw_HT5zvqj94a5g2Yb5B_9kPUF1oHsU3QedRR0CzHYSZt_62K2oAu0k3gGaXlOznM1HALt1FdhurKIa6NOgGIbfWHAQm9cW0BDSeSMewc22cmg3AFpnn0q-4jo-l_qx043VByCDQHqbqE=w1060-h1588-no?authuser=0);
        "
      ></div>
      <div
        style="display: flex, flex-direction-column; justify-content: center"
      >
        <p class="s-l w-h c-white">Yasa Zaheen</p>
        <p class="s-m w-m c-white">yasazaheen@gmail.com</p>
      </div>
    </div>
  </div>

  <div style="display: flex; justify-content: space-between">
    <div class="home__module shadow bg-darkBlue">
      <p class="s-xxl w-h c-white">Cart</p>
      <p class="s-m w-m c-white">
        You have 3 items worth USD 2280.62 in your cart.
      </p>
    </div>

    <div class="home__module shadow bg-orange">
      <p class="s-xxl w-h c-white">Watchlist</p>
      <p class="s-m w-m c-white">
        Price decreased for 1 product. Stock increased for 2 products.
      </p>
    </div>

    <div class="home__module shadow bg-mediumBlue">
      <p class="s-xxl w-h c-white">Wishlist</p>
      <p class="s-m w-m c-white">You have 3 items in your wishlist.</p>
    </div>
  </div>
</div>

{% endblock viewContent %}
