{% load static %}

<link
  href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
  rel="stylesheet"
/>
<link rel="stylesheet" href="{% static 'base/css/base.css' %}" />
<link rel="stylesheet" href="{% static 'dashboard/css/navbar.css' %}" />

<nav>
  <div class="img-cont">
    <img
      src="https://images.unsplash.com/photo-1621525205234-474337268a26?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60"
      alt=""
      class="vis"
    />
  </div>

  <ul>
    <a id="nav-home" href="{% url 'dashboard:home' %}">
      <span class="material-icons-outlined"> home </span> Home
    </a>

    <a id="nav-cart" href="{% url 'dashboard:cart' %}">
      <span class="material-icons-outlined"> shopping_cart </span>Cart
    </a>

    <a id="nav-watchlist" href="{% url 'dashboard:watchlist' %}">
      <span class="material-icons-outlined"> remove_red_eye </span>Watchlist
    </a>

    <a id="nav-wishlist" href="{% url 'dashboard:wishlist' %}"
      ><span class="material-icons-outlined"> star_rate </span>Wishlist</a
    >

    <a id="nav-sellerDashboard" href="{% url 'dashboard:seller_dashboard' %}">
      <span class="material-icons-outlined"> dashboard </span>Seller Dashboard
    </a>

    <a><span class="material-icons-outlined"> settings </span>Settings</a>
  </ul>

  <button class="sign-out">
    <span class="material-icons-outlined"> logout </span>
    <p>Sign Out</p>
  </button>
</nav>
