{% extends "dashboard/dashboard.html" %} {% load static %}

<hr />
{% block viewContent %}
<link rel="stylesheet" href="{% static 'dashboard/css/set_category.css' %}" />

<div class="set-category">
  <form method="POST">
    <div
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <p class="s-2l w-h">Set Category</p>
      <button type="submit" class="bg-red c-white">Proceed</button>
    </div>

    {% csrf_token %}
    <div class="set-category__categories">
      {% for category in categories %}
      <div class="category">
        <img src="{{category.image.url}}" alt="" />
        <p class="s-m w-h c-black bg-white">{{category.name}}</p>
        <input type="radio" name="category" value="{{category.id}}" />
      </div>
      {% endfor %}
    </div>
  </form>
</div>

<script src="{% static 'dashboard/js/set_category.js' %}"></script>

{% endblock viewContent %}
