{% extends "dashboard/dashboard.html" %} {% load static %}

<hr />
{% block viewName %} Watchlist {% endblock viewName %}
<hr />
{% block viewContent %}

<link rel="stylesheet" href="{% static 'dashboard/css/watchlist.css' %}" />

<div class="watchlist">
  <p class="s-l w-h">{{ watchlist.products.all.count }} item(s).</p>
  <p class="s-l w-h">Last Updated on {{ watchlist.last_updated }}</p>

  <table class="watchlist__watchlist">
    <thead>
      <tr>
        <th
          class="watchlist__watchlist__header"
          style="width: 50%"
          align="start"
        >
          <p class="s-l w-h">Name</p>
        </th>
        <th
          class="watchlist__watchlist__header"
          style="width: 25%"
          align="start"
        >
          <p class="s-l w-h">Price</p>
        </th>
        <th
          class="watchlist__watchlist__header"
          style="width: 25%"
          align="start"
        >
          <p class="s-l w-h">Stock</p>
        </th>
      </tr>
    </thead>

    <tbody>
      {% for product in watchlist.products.all %}

      <tr>
        <td class="watchlist__watchlist__text">
          <p class="s-m w-m">{{ product.name }}</p>
        </td>

        <!-------- Price -------->

        {% if product.price_recently_updated %}
        <span></span>

        <!-- ** If price has decreased ** -->

        {% if product.change_in_price < 0 %}
        <td class="watchlist__watchlist__text">
          <p
            class="s-m w-m watchlist__watchlist__text__change"
            data-type="price"
            data-change="decrease"
          >
            USD {{product.price}}
          </p>
        </td>

        <!-- ** If price has increased ** -->
        {% elif product.change_in_price > 0 %}
        <td class="watchlist__watchlist__text">
          <p
            class="s-m w-m watchlist__watchlist__text__change"
            data-type="price"
            data-change="increase"
          >
            USD {{product.price}}
          </p>
        </td>
        {% endif %}

        <!-- ** If price is unchanged ** -->

        {% else %}
        <td class="watchlist__watchlist__text">
          <p
            class="s-m w-m watchlist__watchlist__text__change"
            data-type="price"
            data-change="none"
          >
            USD {{product.price}}
          </p>
        </td>
        {% endif %}

        <!-------- Stock -------->

        {% if product.stock_recently_updated %}
        <span></span>

        <!-- ** If stock has decreased ** -->
        {% if product.change_in_stock < 0 %}
        <td class="watchlist__watchlist__text">
          <p
            class="s-m w-m watchlist__watchlist__text__change"
            data-type="stock"
            data-change="decrease"
          >
            {{product.stock}}
          </p>
        </td>

        <!-- ** If stock has increased ** -->
        {% elif product.change_in_stock > 0 %}

        <td class="watchlist__watchlist__text">
          <p
            class="s-m w-m watchlist__watchlist__text__change"
            data-type="stock"
            data-change="increase"
          >
            {{product.stock}}
          </p>
        </td>

        {% endif %}

        <!-- ** If stock is unchanged ** -->

        {% else %}
        <td class="watchlist__watchlist__text">
          <p
            class="s-m w-m watchlist__watchlist__text__change"
            data-type="stock"
            data-change="none"
          >
            {{product.stock}}
          </p>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="watchlist__shopMore">
    <p class="watchlist__shopMore__text">
      Shop more and add more items to your watchlist!
    </p>
  </div>
</div>

<script src="{% static 'dashboard/js/watchlist.js' %}"></script>

{% endblock viewContent %}
