{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'base/css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <script
      src="https://kit.fontawesome.com/c1e316d6ea.js"
      crossorigin="anonymous"
    ></script>

    <title>{% block title %} Aurora {% endblock title %}</title>
  </head>

  <body>
    {% include "templates/navbar.html" %} {% block content %}
    <h1>Hello World</h1>
    {% endblock content %}
    <script src="{% static 'base/js/navbar.js' %}"></script>
    <script src="{% static 'base/js/anime.min.js' %}"></script>
    <script src="{% static 'base/js/base.js' %}"></script>
  </body>
</html>
