<nav class="nav">
  <a class="nav-title" href="{% url 'main:index' %}">Aurora</a>

  <div class="links-container">
    <a href="{% url 'main:products' %}" class="link">Products </a>
    <a href="#" class="link categories"
      >Categories<span class="material-icons"> keyboard_arrow_right </span></a
    >
    <a href="" class="link"
      >Legal<span class="material-icons"> keyboard_arrow_right </span></a
    >
    <a href="" class="link">About</a>
  </div>

  <a class="sign-in" href="{% url 'authentication:sign_in' %}">Sign In</a>

  <div class="dropdown">
    {% for category in all_categories %}
    <a href="{% url 'main:category' category.id%}" class="dropdown-link"
      >{{category.name}}
      </a
    >
    {% endfor %}
  </div>

</nav>
