{% extends "templates/base.html" %} {% load static %} {% block content %}
<link
  href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
  rel="stylesheet"
/>
<link rel="stylesheet" href="{% static 'main/css/index.css' %}" />

<div class="main">
  <div
    class="main__banner"
    style="
      background-image: url('https://cdni.iconscout.com/illustration/premium/thumb/family-shopping-2681394-2239883.png');
    "
  ></div>

  <div class="main__search">
    {% with type="text" %}
    <span></span>
    {% with title="Search" %}
    <span></span>
    {% with icon="search" %}
    <span></span>
    {% with name="search" %}
    <span></span>
    {% include "templates/textInput.html" %}
    <span></span>
    {% endwith %}
    <span></span>
    {% endwith %}
    <span></span>
    {% endwith %}
    <span></span>
    {% endwith %}
  </div>

  <div class="main__categories">
    {% for category in all_categories %}
    <a
      class="categories__category"
      href="{% url 'main:category' category.id %}"
      style="background-image: url('{{ category.image.url }}');"
    >
      <p class="category__text">{{category.name}}</p>
    </a>

    {% endfor %}
  </div>

  <div class="main__products">
    {% for product in products %}

    <div class="product">
      <!-- * TODO: Picture Link -->
      <div
        class="product__img"
        style="
            background-image: url('{{product.image_1.url}}');
          "
      ></div>
      <!-- * TODO: Blurred Background -->

      <div class="product__content">
        <!-- * TODO: Product Name -->
        <a href="{% url 'main:product' product.id %}">
          <p
            class="s-l w-h"
            style="height: 7.05vh; align-items: start; overflow: hidden"
          >
            {{product.name}}
          </p>
        </a>
        <!-- * TODO: Product Ratings -->
        <div style="display: flex; margin: 6.25px 0px">
          {% with ratings=product.ratings %}
          <span></span>
          {% include "templates/ratings.html" %}
          <span></span>
          {% endwith %}
        </div>
        <!-- * TODO: Product Price -->
        <p class="s-l w-h">USD {{ product.price }}</p>
        <!-- * TODO: Product Shipping Estimate -->
        <p class="s-m w-l">
          +USD {{ product.shipping_price }} shipping estimate
        </p>
        <!-- * TODO: Add to cart, watchlist and wishlist buttons -->
        <div style="display: flex; margin-top: 6.25px">
          <button class="toggle" data-color="#ef233c">
            <span class="material-icons-outlined s-l">add_shopping_cart</span>
          </button>
          <button class="toggle" data-color="#3d5a80">
            <span class="material-icons-outlined s-l">star_border</span>
          </button>
          <button class="toggle" data-color="#ee6c4d">
            <span class="material-icons-outlined s-l">remove_red_eye</span>
          </button>
        </div>

        <!-- * TODO: Account Type -->

        {% if product.seller.account_type == "New Seller" %}

        <div class="product__account-type bg-red c-white">
          <span class="material-icons-outlined s-l">new_releases</span>
          <p class="s-s w-h" style="margin-left: 5px">
            {{ product.seller.account_type }}
          </p>
        </div>

        {% elif product.seller.account_type == "Top Rated Seller" %}

        <div class="product__account-type bg-orange c-white">
          <span class="material-icons-outlined s-l">auto_graph</span>
          <p class="s-s w-h" style="margin-left: 5px">
            {{ product.seller.account_type }}
          </p>
        </div>

        {% elif product.seller.account_type == "Verified Seller" %}

        <div class="product__account-type bg-darkBlue c-white">
          <span class="material-icons-outlined s-l">verified</span>
          <p class="s-s w-h" style="margin-left: 5px">
            {{ product.seller.account_type }}
          </p>
        </div>

        {% endif %}
      </div>
    </div>

    {% endfor %}
  </div>

  <div class="footer"></div>
</div>

<script type="text/javascript" src="{% static 'main/js/index.js' %}"></script>
<script type="text/javascript" src="{% static 'base/js/base.js' %}"></script>

{% endblock content %}
