{% extends "templates/base.html" %} {% load static %}
<hr />
{% block content %}
<link
  href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
  rel="stylesheet"
/>
<link rel="stylesheet" href="{% static 'main/css/products.css' %}" />

<div class="main-cont">
  <div class="col1">
    <div class="filter-price">
      <h1 class="filter">Price</h1>
      <input type="range" class="filter-price" min="5" max="10000" step="1" />
      <p class="filter-price"></p>
    </div>

    <div class="filter-seller-ratings">
      <h1 class="filter">Seller Ratings</h1>
      <input
        type="range"
        class="filter-seller-ratings"
        min="1"
        max="5"
        step="0.5"
      />
      <p class="filter-seller-ratings"></p>
    </div>

    <div class="filter-condition">
      <h1 class="filter">Condition</h1>
      <p class="filter-condition">
        <input
          class="filter-condition"
          type="checkbox"
          name="filter-condition"
        />
        Brand New
      </p>
      <p class="filter-condition">
        <input
          class="filter-condition"
          type="checkbox"
          name="filter-condition"
        />
        Used
      </p>
      <p class="filter-condition">
        <input
          class="filter-condition"
          type="checkbox"
          name="filter-condition"
        />
        Not Specified
      </p>
    </div>

    <div class="filter-delivery">
      <h1 class="filter">Delivery</h1>
      <p class="filter-delivery">
        <input class="filter-delivery" type="checkbox" name="filter-delivery" />
        Free Shipping
      </p>
      <p class="filter-delivery">
        <input class="filter-delivery" type="checkbox" name="filter-delivery" />
        International Shipping
      </p>
      <p class="filter-delivery">
        <input class="filter-delivery" type="checkbox" name="filter-delivery" />
        Paid Shipping
      </p>
    </div>

    <div class="filter-returns">
      <h1 class="filter">Returns</h1>
      <p class="filter-returns">
        <input
          class="filter-returns"
          type="checkbox"
          name="filter-returns"
        />Free returns
      </p>
      <p class="filter-returns">
        <input
          class="filter-returns"
          type="checkbox"
          name="filter-returns"
        />Paid returns
      </p>
      <p class="filter-returns">
        <input class="filter-returns" type="checkbox" name="filter-returns" />No
        returns
      </p>
    </div>

    <div class="filter-seller-account">
      <h1 class="filter">Seller Account</h1>
      <p class="filter-seller-account">
        <input
          class="filter-seller-account"
          type="checkbox"
          name="filter-seller-account"
        />New seller
      </p>
      <p class="filter-seller-account">
        <input
          class="filter-seller-account"
          type="checkbox"
          name="filter-seller-account"
        />Verified seller
      </p>
      <p class="filter-seller-account">
        <input
          class="filter-seller-account"
          type="checkbox"
          name="filter-seller-account"
        />Top rated seller
      </p>
    </div>
  </div>

  <div class="col2">
    <div class="cat-cont">
      {% for category in all_categories %}

      <a class="cat-card" href="{% url 'main:category' category.id %}">
        <img src="{{ category.image.url }}" class="vis" />

        <p class="cat">{{category.name}}</p>
      </a>

      {% endfor %}
    </div>

    <div class="search-cont">
      <input type="text" class="search" placeholder="Search" />
      <button class="search">
        <span class="material-icons search"> search </span>
      </button>
    </div>

    <div class="prods-cont">
      <div class="prod-card">
        <div class="prod-img-cont">
          <img
            src="https://images.pexels.com/photos/1279107/pexels-photo-1279107.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
            alt=""
            class="vis"
          />
          <button class="prod-account">
            <span class="material-icons"> stars </span>
            <p>Top Rated Seller</p>
          </button>
        </div>

        <div class="prod-wrapper">
          <div class="prod-text-cont">
            <p class="prod-name">
              Google Home Mini with Google Assistant Voice Enabled Chalk Grey
              New In Retail
            </p>
            <div class="prod-ratings">
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star_border </span>
            </div>
            <p class="prod-price">USD 23.95</p>
            <p class="prod-shipping">+$27.05 shipping estimate</p>
          </div>

          <div class="prod-buttons-cont">
            <button class="prod-add-to-cart">
              <span class="material-icons"> add_shopping_cart </span>
              <p>Add to cart</p>
            </button>
            <button class="prod-add-to-wishlist">
              <span class="material-icons"> star_border </span>
              <p>Add to wishlist</p>
            </button>
            <button class="prod-add-to-watchlist">
              <span class="material-icons-outlined"> remove_red_eye </span>
              <p>Add to watchlist</p>
            </button>
          </div>
        </div>
      </div>

      <div class="prod-card">
        <div class="prod-img-cont">
          <img
            src="https://images.pexels.com/photos/393047/pexels-photo-393047.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
            alt=""
            class="vis"
          />
          <button class="prod-account">
            <span class="material-icons"> stars </span>
            <p>Top Rated Seller</p>
          </button>
        </div>

        <div class="prod-wrapper">
          <div class="prod-text-cont">
            <p class="prod-name">
              Apple Watch Series 5 - GPS - GPS + Cellular - 40MM 44MM - Gray -
              Silver - Gold
            </p>
            <div class="prod-ratings">
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star_border </span>
              <span class="material-icons prod-ratings"> star_border </span>
            </div>
            <p class="prod-price">USD 279.00</p>
            <p class="prod-shipping">+$25.43 shipping estimate</p>
          </div>

          <div class="prod-buttons-cont">
            <button class="prod-add-to-cart">
              <span class="material-icons"> add_shopping_cart </span>
              <p>Add to cart</p>
            </button>
            <button class="prod-add-to-wishlist">
              <span class="material-icons"> star_border </span>
              <p>Add to wishlist</p>
            </button>
            <button class="prod-add-to-watchlist">
              <span class="material-icons-outlined"> remove_red_eye </span>
              <p>Add to watchlist</p>
            </button>
          </div>
        </div>
      </div>

      <div class="prod-card">
        <div class="prod-img-cont">
          <img
            src="https://images.pexels.com/photos/5052880/pexels-photo-5052880.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
            alt=""
            class="vis"
          />
          <button class="prod-account">
            <span class="material-icons"> stars </span>
            <p>Top Rated Seller</p>
          </button>
        </div>

        <div class="prod-wrapper">
          <div class="prod-text-cont">
            <p class="prod-name">
              Apple iPhone 12 Pro - 256gb - Unlocked - Factory Sealed - Factory
              Warranty
            </p>
            <div class="prod-ratings">
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star_border </span>
            </div>
            <p class="prod-price">USD 23.95</p>
            <p class="prod-shipping">+$27.05 shipping estimate</p>
          </div>

          <div class="prod-buttons-cont">
            <button class="prod-add-to-cart">
              <span class="material-icons"> add_shopping_cart </span>
              <p>Add to cart</p>
            </button>
            <button class="prod-add-to-wishlist">
              <span class="material-icons"> star_border </span>
              <p>Add to wishlist</p>
            </button>
            <button class="prod-add-to-watchlist">
              <span class="material-icons-outlined"> remove_red_eye </span>
              <p>Add to watchlist</p>
            </button>
          </div>
        </div>
      </div>

      <div class="prod-card">
        <div class="prod-img-cont">
          <img
            src="https://images.pexels.com/photos/3861964/pexels-photo-3861964.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
            alt=""
            class="vis"
          />
          <button class="prod-account">
            <span class="material-icons"> stars </span>
            <p>Top Rated Seller</p>
          </button>
        </div>

        <div class="prod-wrapper">
          <div class="prod-text-cont">
            <p class="prod-name">
              Apple MacBook Air 13" - M1 Chip 8GB 256GB - Gold - MGND3LL/A -
              Flawless 2 Cycles
            </p>
            <div class="prod-ratings">
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star_border </span>
            </div>
            <p class="prod-price">USD 979.00</p>
            <p class="prod-shipping">+$100.00 shipping estimate</p>
          </div>

          <div class="prod-buttons-cont">
            <button class="prod-add-to-cart">
              <span class="material-icons"> add_shopping_cart </span>
              <p>Add to cart</p>
            </button>
            <button class="prod-add-to-wishlist">
              <span class="material-icons"> star_border </span>
              <p>Add to wishlist</p>
            </button>
            <button class="prod-add-to-watchlist">
              <span class="material-icons-outlined"> remove_red_eye </span>
              <p>Add to watchlist</p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'main/js/products.js' %}"></script>

{% endblock content %}
