{% extends "templates/base.html" %} {% load static %}
<hr />
{% block content %}
<link rel="stylesheet" href="{% static 'main/css/product_seller.css' %}" />

<div class="main-cont">
  <div class="col1">
    <!-- <div class="seller-profile">
      <p class="business-card">Your business card here</p>
    </div> -->

    <div class="seller-returns">
      <p class="seller-returns">
        <span class="material-icons seller-returns">keyboard_return</span
        >Returns
      </p>
      <p class="seller-returns-service-rate">Service Rate</p>
      <div class="seller-returns-service-rate">
        <div class="seller-returns-service-rate-percentage"></div>
      </div>
    </div>

    <div class="seller-delivery">
      <p class="seller-delivery">
        <span class="material-icons seller-delivery">timelapse</span>Delivery
      </p>
      <p class="seller-delivery-service-rate">Service Rate</p>
      <div class="seller-delivery-service-rate">
        <div class="seller-delivery-service-rate-percentage"></div>
      </div>
    </div>

    <div class="seller-recommendation">
      <p class="seller-recommendation">
        <span class="material-icons seller-recommendation">feedback</span
        >Recommendation
      </p>
      <p class="seller-recommendation-rate">Recommendation Rate</p>

      <div class="seller-recommendation-rate">
        <div class="seller-recommendation-positive-rate-percentage"></div>
        <div class="seller-recommendation-negative-rate-percentage"></div>
      </div>
    </div>

    <div class="seller-prods-sold">
      <p class="seller-prods-sold">
        <span class="material-icons seller-prods-sold"> storefront </span
        >Products Sold
      </p>

      <p class="seller-prods-sold-no">453</p>
    </div>

    <div class="seller-joined">
      <p class="seller-joined">
        <span class="material-icons seller-joined"> insert_invitation </span
        >Joined
      </p>

      <p class="seller-joined-date">1 May, 1998</p>
    </div>

    <div class="seller-reviews-cont">
      <div class="prod-review">
        <span class="material-icons quote-sign"> format_quote </span>

        <p class="prod-buyer-review">
          Amazing shipping and customer service, would highly recommend buying
          from him. Delivery is on time and item was just as advertised.
        </p>

        <div class="prod-buyer">
          <div class="prod-buyer-img">
            <img
              src="{% static 'base/img/buyers/mikkel_nielsen.jpg' %}"
              alt=""
              class="vis"
            />
          </div>

          <p class="prod-review-buyer">Mikkel Neilson</p>
        </div>
      </div>
      <div class="prod-review">
        <span class="material-icons quote-sign"> format_quote </span>

        <p class="prod-buyer-review">
          Amazing shipping and customer service, would highly recommend buying
          from him. Delivery is on time and item was just as advertised.
        </p>

        <div class="prod-buyer">
          <div class="prod-buyer-img">
            <img
              src="{% static 'base/img/buyers/mikkel_nielsen.jpg' %}"
              alt=""
              class="vis"
            />
          </div>

          <p class="prod-review-buyer">Mikkel Neilson</p>
        </div>
      </div>
      <div class="prod-review">
        <span class="material-icons quote-sign"> format_quote </span>

        <p class="prod-buyer-review">
          Amazing shipping and customer service, would highly recommend buying
          from him. Delivery is on time and item was just as advertised.
        </p>

        <div class="prod-buyer">
          <div class="prod-buyer-img">
            <img
              src="{% static 'base/img/buyers/mikkel_nielsen.jpg' %}"
              alt=""
              class="vis"
            />
          </div>

          <p class="prod-review-buyer">Mikkel Neilson</p>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="col2">
    <div class="seller-cover">
      <div class="seller-cover-img">
        <img
          src="{% static 'base/img/sellers/john_doe2.jpg' %}"
          alt=""
          class="vis"
        />
      </div>
      <div class="seller-social-media">
        <button class="seller-cover-instagram">
          <i class="fab fa-instagram"></i>
          <p class="seller-social-media">Follow Me!</p>
        </button>
        <button class="seller-cover-twitter">
          <i class="fab fa-twitter"></i>
          <p class="seller-social-media">Follow Me!</p>
        </button>
        <button class="seller-cover-facebook">
          <i class="fab fa-facebook"></i>
          <p class="seller-social-media">Follow Me!</p>
        </button>
      </div>
      <div class="seller-contact">
        <button class="seller-cover-website">
          <i class="fas fa-wifi"></i>
          <p class="seller-contact">www.johndoe.com</p>
        </button>
        <button class="seller-cover-email">
          <i class="fas fa-envelope"></i>
          <p class="seller-contact">johndoe@gmail.com</p>
        </button>
        <button class="seller-cover-phone">
          <i class="fas fa-phone"></i>
          <p class="seller-contact">+971 414-1244-1241</p>
        </button>
      </div>
    </div>

    <div class="prods-cont">
      <div class="prod-card">
        <div class="prod-img-cont">
          <img
            src="https://images.pexels.com/photos/1279107/pexels-photo-1279107.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
            alt=""
            class="vis"
          />
          <button class="prod-account">
            <span class="material-icons"> stars </span>
            <p>Top Rated Seller</p>
          </button>
        </div>

        <div class="prod-wrapper">
          <div class="prod-text-cont">
            <p class="prod-name">
              Google Home Mini with Google Assistant Voice Enabled Chalk Grey
              New In Retail
            </p>
            <div class="prod-ratings">
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star_border </span>
            </div>
            <p class="prod-price">USD 23.95</p>
            <p class="prod-shipping">+$27.05 shipping estimate</p>
          </div>

          <div class="prod-buttons-cont">
            <button class="prod-add-to-cart">
              <span class="material-icons"> add_shopping_cart </span>
              <p>Add to cart</p>
            </button>
            <button class="prod-add-to-wishlist">
              <span class="material-icons"> star_border </span>
              <p>Add to wishlist</p>
            </button>
            <button class="prod-add-to-watchlist">
              <span class="material-icons-outlined"> remove_red_eye </span>
              <p>Add to watchlist</p>
            </button>
          </div>
        </div>
      </div>

      <div class="prod-card">
        <div class="prod-img-cont">
          <img
            src="https://images.pexels.com/photos/393047/pexels-photo-393047.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
            alt=""
            class="vis"
          />
          <button class="prod-account">
            <span class="material-icons"> stars </span>
            <p>Top Rated Seller</p>
          </button>
        </div>

        <div class="prod-wrapper">
          <div class="prod-text-cont">
            <p class="prod-name">
              Apple Watch Series 5 - GPS - GPS + Cellular - 40MM 44MM - Gray -
              Silver - Gold
            </p>
            <div class="prod-ratings">
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star_border </span>
              <span class="material-icons prod-ratings"> star_border </span>
            </div>
            <p class="prod-price">USD 279.00</p>
            <p class="prod-shipping">+$25.43 shipping estimate</p>
          </div>

          <div class="prod-buttons-cont">
            <button class="prod-add-to-cart">
              <span class="material-icons"> add_shopping_cart </span>
              <p>Add to cart</p>
            </button>
            <button class="prod-add-to-wishlist">
              <span class="material-icons"> star_border </span>
              <p>Add to wishlist</p>
            </button>
            <button class="prod-add-to-watchlist">
              <span class="material-icons-outlined"> remove_red_eye </span>
              <p>Add to watchlist</p>
            </button>
          </div>
        </div>
      </div>

      <div class="prod-card">
        <div class="prod-img-cont">
          <img
            src="https://images.pexels.com/photos/5052880/pexels-photo-5052880.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
            alt=""
            class="vis"
          />
          <button class="prod-account">
            <span class="material-icons"> stars </span>
            <p>Top Rated Seller</p>
          </button>
        </div>

        <div class="prod-wrapper">
          <div class="prod-text-cont">
            <p class="prod-name">
              Apple iPhone 12 Pro - 256gb - Unlocked - Factory Sealed - Factory
              Warranty
            </p>
            <div class="prod-ratings">
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star_border </span>
            </div>
            <p class="prod-price">USD 23.95</p>
            <p class="prod-shipping">+$27.05 shipping estimate</p>
          </div>

          <div class="prod-buttons-cont">
            <button class="prod-add-to-cart">
              <span class="material-icons"> add_shopping_cart </span>
              <p>Add to cart</p>
            </button>
            <button class="prod-add-to-wishlist">
              <span class="material-icons"> star_border </span>
              <p>Add to wishlist</p>
            </button>
            <button class="prod-add-to-watchlist">
              <span class="material-icons-outlined"> remove_red_eye </span>
              <p>Add to watchlist</p>
            </button>
          </div>
        </div>
      </div>

      <div class="prod-card">
        <div class="prod-img-cont">
          <img
            src="https://images.pexels.com/photos/3861964/pexels-photo-3861964.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
            alt=""
            class="vis"
          />
          <button class="prod-account">
            <span class="material-icons"> stars </span>
            <p>Top Rated Seller</p>
          </button>
        </div>

        <div class="prod-wrapper">
          <div class="prod-text-cont">
            <p class="prod-name">
              Apple MacBook Air 13" - M1 Chip 8GB 256GB - Gold - MGND3LL/A -
              Flawless 2 Cycles
            </p>
            <div class="prod-ratings">
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star </span>
              <span class="material-icons prod-ratings"> star_border </span>
            </div>
            <p class="prod-price">USD 979.00</p>
            <p class="prod-shipping">+$100.00 shipping estimate</p>
          </div>

          <div class="prod-buttons-cont">
            <button class="prod-add-to-cart">
              <span class="material-icons"> add_shopping_cart </span>
              <p>Add to cart</p>
            </button>
            <button class="prod-add-to-wishlist">
              <span class="material-icons"> star_border </span>
              <p>Add to wishlist</p>
            </button>
            <button class="prod-add-to-watchlist">
              <span class="material-icons-outlined"> remove_red_eye </span>
              <p>Add to watchlist</p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>

{% endblock content %}
