{% extends "templates/base.html" %} {% load static %}
<hr />
{% block content %}
<link rel="stylesheet" href="{% static 'main/css/product.css' %}" />

<div class="main">
  <div style="display: flex">
    <!-- ** Image Container ** -->
    <div class="main__img-container">
      <div
        class="img-container__big-img"
        style="
          background-image: url('{{product.image_1.url}}');
        "
      ></div>

      <div style="display: flex; justify-content: space-between">
        <div
          class="img-container__small-img"
          style="
            background-image: url('{{product.image_1.url}}');
          "
        ></div>
        <div
          class="img-container__small-img"
          style="
            background-image: url('{{product.image_2.url}}');
          "
        ></div>
        <div
          class="img-container__small-img"
          style="
            background-image: url('{{product.image_3.url}}');
          "
        ></div>
        <div
          class="img-container__small-img"
          style="
            background-image: url('{{product.image_4.url}}');
          "
        ></div>
      </div>
    </div>

    <!-- ** Info Container ** -->
    <div class="main__info-container">
      <!-- ** Text ** -->
      <p class="s-xl w-h">{{ product.name }}</p>
      <div style="display: flex; align-items: center">
        <p class="s-2l w-h">USD {{ product.price }}</p>
        <p class="s-m w-l" style="margin-left: 12.5px; opacity: 0.5">
          +USD {{ product.shipping_price }} shipping estimate
        </p>
      </div>

      <!-- ** Toggle Buttons ** -->
      <div style="display: flex; margin-top: 6.25px">
        <button class="toggle" data-color="#ef233c">
          <span class="material-icons-outlined s-xl">add_shopping_cart</span>
        </button>
        <button class="toggle" data-color="#3d5a80">
          <span class="material-icons-outlined s-xl">star_border</span>
        </button>
        <button class="toggle" data-color="#ee6c4d">
          <span class="material-icons-outlined s-xl">remove_red_eye</span>
        </button>
      </div>

      <!-- ** Product Information ** -->
      <div class="info-container__product-info">
        <div style="display: flex; flex-direction: column; padding-right: 25px">
          <div class="module shadow bg-darkBlue c-white">
            <p class="s-l w-h">Condition</p>
            <p class="s-m w-m">{{ product.condition }}</p>
          </div>

          <div class="module shadow bg-orange c-white">
            <p class="s-l w-h">Shipping</p>
            <p class="s-m w-m">{{ product.shipping }}</p>
          </div>
        </div>

        <div style="display: flex; flex-direction: column">
          <div class="module shadow bg-paleBlue c-black">
            <p class="s-l w-h">Returns</p>
            <p class="s-m w-m">{{ product.returns }}</p>
          </div>

          <div class="module shadow bg-black c-white">
            <p class="s-l w-h">Payments</p>
            <p class="s-m w-m">{{ product.payments }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ** Features Container ** -->
  <table class="main__features shadow">
    {% for feature_cat, feature_specs in features %}
    <tr>
      <td class="features__cell">
        <p class="s-l w-h">{{ feature_cat }}</p>
      </td>
      <td>
        <p class="s-l w-l">{{ feature_specs }}</p>
      </td>
    </tr>
    {% endfor %}
  </table>

  <!-- ** Seller Information **  -->
  <div class="main__seller-info">
    <!-- ** Seller ** -->
    <div
      class="seller-info__seller"
      style="
        background-image: url(https://images.unsplash.com/photo-1435820394963-a15297f976fd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzB8fGFic3RyYWN0fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=60);
      "
    >
      <div
        class="seller__dp"
        style="
          background-image: url(https://docs.google.com/uc?export=download&id=114zREg2jyA9hJG9KlU7-h1M5jEMo8C7G);
        "
      ></div>
      <pre class="s-l w-h c-white">
      Yasa Zaheen <span class="material-icons" style="font-size: 12.5px;">verified</span>
    </pre>
      <p class="s-m w-m c-white">yasazaheen@gmail.com</p>
      <p class="s-s w-m c-white" style="width: 25%">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam autem
        accusantium culpa, odit dicta eum tempora quod adipisci alias commodi
        perspiciatis inventore voluptates ab aspernatur recusandae, corrupti
        sequi laudantium! Minus?
      </p>
    </div>

    <!-- ** Seller Ratings ** -->
    <div class="seller-info__ratings">
      <div class="module shadow bg-darkBlue ratings__rating">
        <p class="s-l w-h c-white">Communication</p>
        <p class="s-m w-m c-white">Service rate</p>
        <div class="progress-bar">
          <div class="progress bg-darkBlue"></div>
        </div>
      </div>

      <div class="module shadow bg-orange ratings__rating">
        <p class="s-l w-h c-white">Shipping</p>
        <p class="s-m w-m c-white">Service rate</p>
        <div class="progress-bar">
          <div class="progress bg-orange"></div>
        </div>
      </div>

      <div class="module shadow bg-mediumBlue ratings__rating">
        <p class="s-l w-h c-white">Return</p>
        <p class="s-m w-m c-white">Service rate</p>
        <div class="progress-bar">
          <div class="progress bg-mediumBlue"></div>
        </div>
      </div>
    </div>

    <!-- ** Seller Reviews ** -->
    <div class="seller-info__reviews">
      {% for review in reviews %}

      <div class="reviews__review">
        <div
          class="review__dp"
          style="
            background-image: url('{{ review.user.profile_image.url }}');
          "
        ></div>
        <div style="display: flex">
          {% with ratings=review.ratings %}
          <span></span>
          {% include "templates/ratings.html" %}
          <span></span>
          {% endwith %}
        </div>
        <p class="s-l w-h">{{ review.user }}</p>
        <p class="s-m w-m">{{ review.comment }}</p>
      </div>

      {% empty %}

      <div style="padding: 0px 25px">
        <p class="s-l w-h">No reviews yet.</p>
      </div>

      {% endfor %}
    </div>

    <!-- ** Seller Products ** -->
    <div class="seller-info__products">
      {% for product in seller_products %}

      <div class="product">
        <!-- * TODO: Picture Link -->
        <div
          class="product__img"
          style="
            background-image: url('{{product.image_1.url}}');
          "
        ></div>
        <!-- * TODO: Blurred Background -->

        <div class="product__content">
          <!-- * TODO: Product Name -->
          <a href="{% url 'main:product' product.id %}">
            <p
              class="s-l w-h"
              style="height: 7.05vh; align-items: start; overflow: hidden"
            >
              {{product.name}}
            </p>
          </a>
          <!-- * TODO: Product Ratings -->
          <div style="display: flex; margin: 6.25px 0px">
            {% with ratings=product.ratings %}
            <span></span>
            {% include "templates/ratings.html" %}
            <span></span>
            {% endwith %}
          </div>
          <!-- * TODO: Product Price -->
          <p class="s-l w-h">USD {{ product.price }}</p>
          <!-- * TODO: Product Shipping Estimate -->
          <p class="s-m w-l">
            +USD {{ product.shipping_price }} shipping estimate
          </p>
          <!-- * TODO: Add to cart, watchlist and wishlist buttons -->
          <div style="display: flex; margin-top: 6.25px">
            <button class="toggle" data-color="#ef233c">
              <span class="material-icons-outlined s-l">add_shopping_cart</span>
            </button>
            <button class="toggle" data-color="#3d5a80">
              <span class="material-icons-outlined s-l">star_border</span>
            </button>
            <button class="toggle" data-color="#ee6c4d">
              <span class="material-icons-outlined s-l">remove_red_eye</span>
            </button>
          </div>

          <!-- * TODO: Account Type -->

          {% if product.seller.account_type == "New Seller" %}

          <div class="product__account-type bg-red c-white">
            <span class="material-icons-outlined s-l">new_releases</span>
            <p class="s-s w-h" style="margin-left: 5px">
              {{ product.seller.account_type }}
            </p>
          </div>

          {% elif product.seller.account_type == "Top Rated Seller" %}

          <div class="product__account-type bg-orange c-white">
            <span class="material-icons-outlined s-l">auto_graph</span>
            <p class="s-s w-h" style="margin-left: 5px">
              {{ product.seller.account_type }}
            </p>
          </div>

          {% elif product.seller.account_type == "Verified Seller" %}

          <div class="product__account-type bg-darkBlue c-white">
            <span class="material-icons-outlined s-l">verified</span>
            <p class="s-s w-h" style="margin-left: 5px">
              {{ product.seller.account_type }}
            </p>
          </div>

          {% endif %}
        </div>
      </div>

      {% endfor %}
    </div>
  </div>

  <!-- ** Shipping & Payment Information ** -->
  <div class="main__shipping-info">
    <div style="display: flex; flex-direction: column">
      <div class="module shadow bg-orange">
        <p class="s-l w-h c-white">Product ships to your location?</p>
        <p class="s-m w-l c-white">Product ships to Bangladesh.</p>
      </div>
      <div class="module shadow bg-mediumBlue">
        <p class="s-l w-h c-white">Shipping Type</p>
        <p class="s-m w-l c-white">{{ product.shipping }}</p>
      </div>
    </div>

    <div
      class="module shadow bg-red"
      style="width: calc(100% - 50px); margin: 0px 25px"
    >
      <p class="s-l w-h c-white">Product does not ship to</p>
      <p class="s-m w-l c-white">{{ product.product_does_not_ship_to }}</p>
    </div>

    <div>
      <div class="module shadow bg-black">
        <p class="s-l w-h c-white">Payments</p>
        <p class="s-m w-l c-white">{{ product.payments }}</p>
      </div>
      <div class="module shadow bg-darkBlue">
        <p class="s-l w-h c-white">Item location</p>
        <p class="s-m w-l c-white">
          Item is located in {{ product.product_location }}
        </p>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'main/js/product.js' %}"></script>
<script>
  const ratings = document.querySelectorAll("div.progress");

  const ratingCondition = ratings[0];
  ratingCondition.style.width = "{{ product.seller.communication }}%";

  const ratingShipping = ratings[1];
  ratingShipping.style.width = "{{ product.seller.shipping }}%";

  const ratingReturn = ratings[2];
  ratingShipping.style.width = "{{ product.seller.return }}%";

  console.log("{{ product.price }}");
</script>

{% endblock content %}
