{% extends "templates/base.html" %} {% load static %}
<hr />
{% block title %} {{product_type.name}} {% endblock title %} {% block content %}
<link rel="stylesheet" href="{% static 'main/css/product_type.css' %}" />

<div class="product-type">
  <div class="product-type__filters">
    <div class="filters__filter module shadow bg-white">
      <p class="s-m w-h">Price</p>
      <input type="range" min="5" max="10000" step="1" />
    </div>

    <div class="filters__filter module shadow bg-white">
      <p class="s-m w-h">Seller Ratings</p>
      <input type="range" min="0" max="5" step="1" />
    </div>

    <div class="filters__filter module shadow c-white bg-darkBlue">
      <p class="s-m w-h">Condition</p>
      <p class="s-s w-l">
        <input type="checkbox" />
        Brand New
      </p>
      <p class="s-s w-l">
        <input type="checkbox" />
        Used
      </p>
    </div>

    <div class="filters__filter module shadow c-white bg-orange">
      <p class="s-m w-h">Shipping</p>
      <p class="s-s w-l">
        <input type="checkbox" />
        Free
      </p>
      <p class="s-s w-l">
        <input type="checkbox" />
        International
      </p>
    </div>

    <div class="filters__filter module shadow bg-paleBlue">
      <p class="s-m w-h">Returns</p>
      <p class="s-s w-l">
        <input type="checkbox" />
        Paid returns
      </p>
      <p class="s-s w-l">
        <input type="checkbox" />
        Free returns
      </p>
      <p class="s-s w-l">
        <input type="checkbox" />
        No returns
      </p>
    </div>

    <div class="filters__filter module shadow c-white bg-red">
      <p class="s-m w-h">Seller Account</p>
      <p class="s-s w-l">
        <input type="checkbox" />
        New
      </p>
      <p class="s-s w-l">
        <input type="checkbox" />
        Top rated
      </p>
      <p class="s-s w-l">
        <input type="checkbox" />
        Verified
      </p>
    </div>
  </div>

  <div class="product-type__content">
    {% if children_product_types_exists %}
    <div class="content__children-product-types">
      <span></span>
      {% for children_product_type in children_product_types %}
      <a
        href="{% url 'main:product_type' children_product_type.id %}"
        class="children-product-types__children-product-type"
      >
        <p class="s-m w-m" style="position: relative; z-index: 1">
          {{children_product_type.name}}
        </p>
      </a>
      {% endfor %}
      <span></span>
    </div>
    {% endif %} {% if not children_product_types_exists %}

    <span style="margin-top: 25px"></span>

    {% endif %}

    <div class="product-type__search">
      <button class="search__filterBtn shadow">
        <span class="material-icons-outlined s-l"> filter_list </span>
      </button>
      {% with type="text" %}
      <span></span>
      {% with title="Search" %}
      <span></span>
      {% with icon="search" %}
      <span></span>
      {% with name="search" %}
      <span></span>
      {% include "templates/textInput.html" %}
      <span></span>
      {% endwith %}
      <span></span>
      {% endwith %}
      <span></span>
      {% endwith %}
      <span></span>
      {% endwith %}
    </div>

    <div class="product-type__products">
      <div class="product">
        <!-- * TODO: Picture Link -->
        <div
          class="product__img"
          style="
            background-image: url('https://images.pexels.com/photos/1279107/pexels-photo-1279107.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
          "
        ></div>
        <!-- * TODO: Blurred Background -->

        <div class="product__content">
          <!-- * TODO: Product Name -->
          <a href="{% url 'main:product' %}">
            <p
              class="s-l w-h"
              style="height: 7.05vh; align-items: start; overflow: hidden"
            >
              Google Home Mini with Google Assistant Voice Enabled Chalk Grey
              New In Retail
            </p>
          </a>
          <!-- * TODO: Product Ratings -->
          <div style="display: flex; margin: 6.25px 0px">
            <span class="material-icons s-l"> star </span>
            <span class="material-icons s-l"> star </span>
            <span class="material-icons s-l"> star </span>
            <span class="material-icons s-l"> star </span>
            <span class="material-icons s-l"> star_border </span>
          </div>
          <!-- * TODO: Product Price -->
          <p class="s-l w-h">USD 23.95</p>
          <!-- * TODO: Product Shipping Estimate -->
          <p class="s-m w-l">+$27.05 shipping estimate</p>
          <!-- * TODO: Add to cart, watchlist and wishlist buttons -->
          <div style="display: flex; margin-top: 6.25px">
            <button class="toggle" data-color="#ef233c">
              <span class="material-icons-outlined s-l">add_shopping_cart</span>
            </button>
            <button class="toggle" data-color="#3d5a80">
              <span class="material-icons-outlined s-l">star_border</span>
            </button>
            <button class="toggle" data-color="#ee6c4d">
              <span class="material-icons-outlined s-l">remove_red_eye</span>
            </button>
          </div>

          <!-- * TODO: Account Type -->
          <div class="product__account-type bg-darkBlue c-white">
            <span class="material-icons-outlined s-l">verified</span>
            <p class="s-s w-h" style="margin-left: 5px">Verified Seller</p>
          </div>
        </div>
      </div>

      <div class="product">
        <!-- * TODO: Picture Link -->
        <div
          class="product__img"
          style="
            background-image: url('https://images.pexels.com/photos/393047/pexels-photo-393047.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
          "
        ></div>
        <!-- * TODO: Blurred Background -->

        <div class="product__content">
          <!-- * TODO: Product Name -->
          <a href="{% url 'main:product' %}">
            <p
              class="s-l w-h"
              style="height: 7.05vh; align-items: start; overflow: hidden"
            >
              Apple Watch Series 5 - GPS - GPS + Cellular - 40MM 44MM - Gray -
              Silver - Gold
            </p>
          </a>
          <!-- * TODO: Product Ratings -->
          <div style="display: flex; margin: 6.25px 0px">
            <span class="material-icons s-l"> star </span>
            <span class="material-icons s-l"> star </span>
            <span class="material-icons s-l"> star </span>
            <span class="material-icons s-l"> star_border </span>
            <span class="material-icons s-l"> star_border </span>
          </div>
          <!-- * TODO: Product Price -->
          <p class="s-l w-h">USD 279.00</p>
          <!-- * TODO: Product Shipping Estimate -->
          <p class="s-m w-l">+$25.43 shipping estimate</p>
          <!-- * TODO: Add to cart, watchlist and wishlist buttons -->
          <div style="display: flex; margin-top: 6.25px">
            <button class="toggle" data-color="#ef233c">
              <span class="material-icons-outlined s-l">add_shopping_cart</span>
            </button>
            <button class="toggle" data-color="#3d5a80">
              <span class="material-icons-outlined s-l">star_border</span>
            </button>
            <button class="toggle" data-color="#ee6c4d">
              <span class="material-icons-outlined s-l">remove_red_eye</span>
            </button>
          </div>

          <!-- * TODO: Account Type -->
          <div class="product__account-type bg-red c-white">
            <span class="material-icons-outlined s-l"> new_releases </span>
            <p class="s-s w-h" style="margin-left: 5px">New Seller</p>
          </div>
        </div>
      </div>

      <div class="product">
        <!-- * TODO: Picture Link -->
        <div
          class="product__img"
          style="
            background-image: url('https://images.pexels.com/photos/5052880/pexels-photo-5052880.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
          "
        ></div>
        <!-- * TODO: Blurred Background -->

        <div class="product__content">
          <!-- * TODO: Product Name -->
          <a href="{% url 'main:product' %}">
            <p
              class="s-l w-h"
              style="height: 7.05vh; align-items: start; overflow: hidden"
            >
              Apple iPhone 12 Pro - 256gb - Unlocked - Factory Sealed - Factory
              Warranty
            </p>
          </a>
          <!-- * TODO: Product Ratings -->
          <div style="display: flex; margin: 6.25px 0px">
            <span class="material-icons s-l"> star </span>
            <span class="material-icons s-l"> star </span>
            <span class="material-icons s-l"> star </span>
            <span class="material-icons s-l"> star </span>
            <span class="material-icons s-l"> star </span>
          </div>
          <!-- * TODO: Product Price -->
          <p class="s-l w-h">USD 967.87</p>
          <!-- * TODO: Product Shipping Estimate -->
          <p class="s-m w-l">+$50.69 shipping estimate</p>
          <!-- * TODO: Add to cart, watchlist and wishlist buttons -->
          <div style="display: flex; margin-top: 6.25px">
            <button class="toggle" data-color="#ef233c">
              <span class="material-icons-outlined s-l">add_shopping_cart</span>
            </button>
            <button class="toggle" data-color="#3d5a80">
              <span class="material-icons-outlined s-l">star_border</span>
            </button>
            <button class="toggle" data-color="#ee6c4d">
              <span class="material-icons-outlined s-l">remove_red_eye</span>
            </button>
          </div>

          <!-- * TODO: Account Type -->
          <div class="product__account-type bg-orange c-white">
            <span class="material-icons-outlined s-l">auto_graph</span>
            <p class="s-s w-h" style="margin-left: 5px">Top Rated Seller</p>
          </div>
        </div>
      </div>

      <div class="product">
        <!-- * TODO: Picture Link -->
        <div
          class="product__img"
          style="
            background-image: url('https://images.pexels.com/photos/3861964/pexels-photo-3861964.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500 ');
          "
        ></div>
        <!-- * TODO: Blurred Background -->

        <div class="product__content">
          <!-- * TODO: Product Name -->
          <a href="{% url 'main:product' %}">
            <p
              class="s-l w-h"
              style="height: 7.05vh; align-items: start; overflow: hidden"
            >
              Apple MacBook Air 13" - M1 Chip 8GB 256GB - Gold - MGND3LL/A -
              Flawless 2 Cycles
            </p>
          </a>
          <!-- * TODO: Product Ratings -->
          <div style="display: flex; margin: 6.25px 0px">
            <span class="material-icons s-l"> star </span>
            <span class="material-icons s-l"> star </span>
            <span class="material-icons s-l"> star </span>
            <span class="material-icons s-l"> star </span>
            <span class="material-icons s-l"> star_border </span>
          </div>
          <!-- * TODO: Product Price -->
          <p class="s-l w-h">USD 979.00</p>
          <!-- * TODO: Product Shipping Estimate -->
          <p class="s-m w-l">+$100.00 shipping estimate</p>
          <!-- * TODO: Add to cart, watchlist and wishlist buttons -->
          <div style="display: flex; margin-top: 6.25px">
            <button class="toggle" data-color="#ef233c">
              <span class="material-icons-outlined s-l">add_shopping_cart</span>
            </button>
            <button class="toggle" data-color="#3d5a80">
              <span class="material-icons-outlined s-l">star_border</span>
            </button>
            <button class="toggle" data-color="#ee6c4d">
              <span class="material-icons-outlined s-l">remove_red_eye</span>
            </button>
          </div>

          <!-- * TODO: Account Type -->
          <div class="product__account-type bg-orange c-white">
            <span class="material-icons-outlined s-l">auto_graph</span>
            <p class="s-s w-h" style="margin-left: 5px">Top Rated Seller</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="product-type__main-filters" style="transform: scale(0, 0)">
    <div class="main-filters__filters-container">
      <button class="main-filters__exit-btn">
        <span class="material-icons-outlined s-l w-h"> close </span>
      </button>
      <div class="filters-container__filter-categories">
        {% for filter_category in filter_categories %}
        <button class="filter-categories__btn">{{filter_category}}</button>
        {% endfor %}
        <button
          style="position: absolute; bottom: 0px; width: calc(100% - 25px)"
        >
          Search
        </button>
      </div>
      <div class="filters-container__filters">
        {% for filter in filters %}
        <span></span>
        <p
          class="s-m w-l"
          style="margin-right: 12.5px; display: none"
          data-filter-category="{{filter.filter_category}}"
        >
          <input type="checkbox" />
          {{filter.name}}
        </p>
        <span></span>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
  const toggleBtns = document.querySelectorAll("button.toggle");

  toggleBtns.forEach((toggleBtn) => {
    toggleBtn.addEventListener("click", function () {
      toggleBtn.classList.toggle("toggled");

      if (toggleBtn.classList.contains("toggled")) {
        toggleBtn.style.color = toggleBtn.getAttribute("data-color");
      } else {
        toggleBtn.style.color = "black";
      }
    });
  });
</script>
<script src="{% static 'main/js/product_type.js' %}"></script>

{% endblock content %}
