{% extends "templates/base.html" %} {% load static %}
<hr />
{% block content %}
<link rel="stylesheet" href="{% static 'main/css/product.css' %}" />

<div class="main">
  <div class="prod-img">
    <div class="prod-sel-img-col">
      <button class="prod-sel-img">
        <img
          src="{% static 'base/img/test_products/test12.png' %}"
          alt="sel-img"
          class="vis"
        />
      </button>

      <button class="prod-sel-img">
        <img
          src="{% static 'base/img/test_products/test16.png' %}"
          alt="sel-img"
          class="vis"
        />
      </button>

      <button class="prod-sel-img">
        <img
          src="{% static 'base/img/test_products/test17.jpg' %}"
          alt="sel-img"
          class="vis"
        />
      </button>

      <button class="prod-sel-img">
        <img
          src="{% static 'base/img/test_products/test18.jpg' %}"
          alt="sel-img"
          class="vis"
        />
      </button>
    </div>

    <div class="prod-dis-img">
      <img
        src="{% static 'base/img/test_products/test12.png' %}"
        alt="dis-img"
        class="vis"
      />
    </div>
  </div>

  <div class="prod-info">
    <h1 class="title prod-name">
      [Review Unit] Dell XPS 17 9700 i7-10750GH GTX 1650 Ti 4GB GDDR6
    </h1>

    <a class="prod-by" href="{% url 'main:seller' %}">By John Doe </a>

    <div class="prod-button">
      <div class="prod-buy-cart"></div>

      <button class="prod-price"><p class="prod-price">USD 1,400.00</p></button>

      <button class="prod-cart">
        <span class="material-icons-outlined prod-cart">
          add_shopping_cart
        </span>
      </button>

      <button class="prod-buy-now">
        <span class="material-icons-outlined prod-buy-now"> payments </span>
      </button>

      <button class="prod-save">
        <span class="material-icons-outlined prod-save"> favorite_border </span>
      </button>

      <button class="prod-watchlist">
        <span class="material-icons-outlined prod-watchlist"> visibility </span>
      </button>
    </div>

    <div class="prod-desc">
      <a class="prod-condition">
        <h1 class="prod-condition-title">
          <span class="material-icons prod-condition"> schedule </span>Condition
        </h1>
        <div class="prod-condition-wrapper">
          <p class="prod-condition-mess">
            Product is compeletely sealed and hasn't been opened.
          </p>
        </div>
      </a>

      <a class="prod-shipping">
        <h1 class="prod-shipping-title">
          <span class="material-icons prod-shipping"> local_shipping </span
          >Shipping
        </h1>
        <div class="prod-shipping-wrapper">
          <p class="prod-shipping-mess">
            Shipping via international priority mail.
          </p>
        </div>
      </a>

      <a class="prod-delivery">
        <h1 class="prod-delivery-title">
          <span class="material-icons prod-delivery"> timelapse </span>Delivery
        </h1>
        <div class="prod-delivery-wrapper">
          <p class="prod-delivery-mess">
            Delivery time may vary due to unavoidable circumstances.
          </p>
        </div>
      </a>

      <a class="prod-payments">
        <h1 class="prod-payments-title">
          <span class="material-icons prod-payments"> payments </span>Payments
        </h1>
        <div class="prod-payments-wrapper">
          <p class="prod-payments-mess">
            Cash on delivery is acceptable for local shipping.
          </p>
        </div>
      </a>

      <a class="prod-returns">
        <h1 class="prod-returns-title">
          <span class="material-icons prod-returns"> keyboard_return </span>
          Returns
        </h1>
        <div class="prod-returns-wrapper">
          <p class="prod-returns-mess">
            Returns are accepted withing 7 days after shipping.
          </p>
        </div>
      </a>

      <a class="prod-bids">
        <h1 class="prod-bids-title">
          <span class="material-icons prod-bids"> attach_money </span> Bids
        </h1>
        <div class="prod-bids-wrapper">
          <p class="prod-bids-mess">Ends in 1day 5hours</p>
        </div>
      </a>
    </div>
  </div>

  <div class="prod-specs">
    <div class="prod-spec">
      <p class="prod-spec-title">Brand</p>
      <p class="prod-spec">Dell</p>
    </div>

    <div class="prod-spec">
      <p class="prod-spec-title">CPU</p>
      <p class="prod-spec">Intel Core i7 10750GH</p>
    </div>

    <div class="prod-spec">
      <p class="prod-spec-title">GPU</p>
      <p class="prod-spec">Nvidia GeForce 1650 Ti with 4GB GDDR6</p>
    </div>

    <div class="prod-spec">
      <p class="prod-spec-title">Memory</p>
      <p class="prod-spec">8GB DDR4-2933MHz, 2x4G</p>
    </div>

    <div class="prod-spec">
      <p class="prod-spec-title">Storage</p>
      <p class="prod-spec">512GB M.2 PCIe NVMe Solid State Drive</p>
    </div>

    <div class="prod-spec">
      <p class="prod-spec-title">OS</p>
      <p class="prod-spec">Windows 10 Home (64-bit)</p>
    </div>

    <div class="prod-spec">
      <p class="prod-spec-title">Display</p>
      <p class="prod-spec">3840x2400 IPS LCD with 100% Adobe RGB Coverage</p>
    </div>

    <div class="prod-spec">
      <p class="prod-spec-title">IO</p>
      <p class="prod-spec">
        4x Thunderbolt 3 USB-C Ports, full sized SD card reader, headphone jack
      </p>
    </div>

    <div class="prod-spec">
      <p class="prod-spec-title">Battery</p>
      <p class="prod-spec">6-Cell Battery, 97WHr (Integrated)</p>
    </div>

    <div class="prod-spec">
      <p class="prod-spec-title">Touchpad</p>
      <p class="prod-spec">5.8 x 3.5 inches glass touchpad</p>
    </div>

    <div class="prod-spec">
      <p class="prod-spec-title">Keyboard</p>
      <p class="prod-spec">Backlit english keyboard with Fingerprint Reader</p>
    </div>

    <div class="prod-spec">
      <p class="prod-spec-title">Camera</p>
      <p class="prod-spec">
        720p at 30 fps HD RGB IR camera, dual-array microphones
      </p>
    </div>

    <div class="prod-spec">
      <p class="prod-spec-title">Wireless</p>
      <p class="prod-spec">Killer™ Wi-Fi 6 AX1650 (2 x 2) and Bluetooth 5.1</p>
    </div>
  </div>

  <div class="prod-seller">
    <div class="prod-seller-contact">
      <button class="prod-seller-account">
        <span class="material-icons" style="font-size: 20px"> verified </span>
        <p>Verified Seller</p>
      </button>

      <div class="prod-seller-cover-img">
        <img
          src="https://images.pexels.com/photos/3572/fashion-man-wristwatch-model.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500"
          alt=""
          class="vis"
        />
      </div>

      <div class="prod-seller-prof-img">
        <img
          src="https://images.pexels.com/photos/1043473/pexels-photo-1043473.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
          alt=""
          class="vis"
        />
      </div>

      <p class="prod-seller">John Doe</p>

      <p class="prod-seller-bio">Memento Mori.</p>
    </div>

    <div class="prod-seller-reviews">
      <div class="prod-review"></div>
      <div class="prod-review"></div>

      <div class="prod-review"></div>

      <!-- <div class="prod-review"></div>
      <div class="prod-review"></div> -->
    </div>

    <div class="prod-seller-communication">
      <p class="prod-seller-communication">
        <span class="material-icons prod-seller-communication"
          >mark_chat_unread</span
        >Communication
      </p>
      <p class="prod-seller-communication-service-rate">Service Rate</p>
      <div class="prod-seller-communication-service-rate">
        <div class="prod-seller-communication-service-rate-percentage"></div>
      </div>
    </div>

    <div class="prod-seller-shipping">
      <p class="prod-seller-shipping">
        <span class="material-icons prod-seller-shipping">local_shipping</span
        >Shipping
      </p>
      <p class="prod-seller-shipping-service-rate">Service Rate</p>
      <div class="prod-seller-shipping-service-rate">
        <div class="prod-seller-shipping-service-rate-percentage"></div>
      </div>
    </div>

    <div class="prod-seller-returns">
      <p class="prod-seller-returns">
        <span class="material-icons prod-seller-returns">keyboard_return</span
        >Returns
      </p>
      <p class="prod-seller-returns-service-rate">Service Rate</p>
      <div class="prod-seller-returns-service-rate">
        <div class="prod-seller-returns-service-rate-percentage"></div>
      </div>
    </div>

    <div class="prod-seller-delivery">
      <p class="prod-seller-delivery">
        <span class="material-icons prod-seller-delivery">timelapse</span
        >Delivery
      </p>
      <p class="prod-seller-delivery-service-rate">Service Rate</p>
      <div class="prod-seller-delivery-service-rate">
        <div class="prod-seller-delivery-service-rate-percentage"></div>
      </div>
    </div>

    <div class="prod-seller-customer-feedback">
      <p class="prod-seller-customer-feedback">
        <span class="material-icons prod-customer-feedback">feedback</span
        >Customer Feedback
      </p>
      <p class="prod-seller-customer-feedback-rate">Feedback Rate</p>

      <div class="prod-seller-customer-feedback-rate">
        <div
          class="prod-seller-customer-feedback-positive-rate-percentage"
        ></div>
        <div
          class="prod-seller-customer-feedback-negative-rate-percentage"
        ></div>
      </div>
    </div>
  </div>

  <div class="prod-related-products">
    <div class="prod-card">
      <div class="prod-img-cont">
        <img
          src="https://images.pexels.com/photos/1279107/pexels-photo-1279107.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
          alt=""
          class="vis"
        />
        <button class="prod-account">
          <span class="material-icons"> stars </span>
          <p>Top Rated Seller</p>
        </button>
      </div>

      <div class="prod-wrapper">
        <div class="prod-text-cont">
          <p class="prod-name">
            Google Home Mini with Google Assistant Voice Enabled Chalk Grey New
            In Retail
          </p>
          <div class="prod-ratings">
            <span class="material-icons prod-ratings"> star </span>
            <span class="material-icons prod-ratings"> star </span>
            <span class="material-icons prod-ratings"> star </span>
            <span class="material-icons prod-ratings"> star </span>
            <span class="material-icons prod-ratings"> star_border </span>
          </div>
          <p class="prod-price">USD 23.95</p>
          <p class="prod-shipping">+$27.05 shipping estimate</p>
        </div>

        <div class="prod-buttons-cont">
          <button class="prod-add-to-cart">
            <span class="material-icons"> add_shopping_cart </span>
            <p>Add to cart</p>
          </button>
          <button class="prod-add-to-wishlist">
            <span class="material-icons"> star_border </span>
            <p>Add to wishlist</p>
          </button>
          <button class="prod-add-to-watchlist">
            <span class="material-icons-outlined"> remove_red_eye </span>
            <p>Add to watchlist</p>
          </button>
        </div>
      </div>
    </div>

    <div class="prod-card">
      <div class="prod-img-cont">
        <img
          src="https://images.pexels.com/photos/393047/pexels-photo-393047.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
          alt=""
          class="vis"
        />
        <button class="prod-account">
          <span class="material-icons"> stars </span>
          <p>Top Rated Seller</p>
        </button>
      </div>

      <div class="prod-wrapper">
        <div class="prod-text-cont">
          <p class="prod-name">
            Apple Watch Series 5 - GPS - GPS + Cellular - 40MM 44MM - Gray -
            Silver - Gold
          </p>
          <div class="prod-ratings">
            <span class="material-icons prod-ratings"> star </span>
            <span class="material-icons prod-ratings"> star </span>
            <span class="material-icons prod-ratings"> star </span>
            <span class="material-icons prod-ratings"> star_border </span>
            <span class="material-icons prod-ratings"> star_border </span>
          </div>
          <p class="prod-price">USD 279.00</p>
          <p class="prod-shipping">+$25.43 shipping estimate</p>
        </div>

        <div class="prod-buttons-cont">
          <button class="prod-add-to-cart">
            <span class="material-icons"> add_shopping_cart </span>
            <p>Add to cart</p>
          </button>
          <button class="prod-add-to-wishlist">
            <span class="material-icons"> star_border </span>
            <p>Add to wishlist</p>
          </button>
          <button class="prod-add-to-watchlist">
            <span class="material-icons-outlined"> remove_red_eye </span>
            <p>Add to watchlist</p>
          </button>
        </div>
      </div>
    </div>

    <div class="prod-card">
      <div class="prod-img-cont">
        <img
          src="https://images.pexels.com/photos/5052880/pexels-photo-5052880.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
          alt=""
          class="vis"
        />
        <button class="prod-account">
          <span class="material-icons"> stars </span>
          <p>Top Rated Seller</p>
        </button>
      </div>

      <div class="prod-wrapper">
        <div class="prod-text-cont">
          <p class="prod-name">
            Apple iPhone 12 Pro - 256gb - Unlocked - Factory Sealed - Factory
            Warranty
          </p>
          <div class="prod-ratings">
            <span class="material-icons prod-ratings"> star </span>
            <span class="material-icons prod-ratings"> star </span>
            <span class="material-icons prod-ratings"> star </span>
            <span class="material-icons prod-ratings"> star </span>
            <span class="material-icons prod-ratings"> star_border </span>
          </div>
          <p class="prod-price">USD 23.95</p>
          <p class="prod-shipping">+$27.05 shipping estimate</p>
        </div>

        <div class="prod-buttons-cont">
          <button class="prod-add-to-cart">
            <span class="material-icons"> add_shopping_cart </span>
            <p>Add to cart</p>
          </button>
          <button class="prod-add-to-wishlist">
            <span class="material-icons"> star_border </span>
            <p>Add to wishlist</p>
          </button>
          <button class="prod-add-to-watchlist">
            <span class="material-icons-outlined"> remove_red_eye </span>
            <p>Add to watchlist</p>
          </button>
        </div>
      </div>
    </div>

    <div class="prod-card">
      <div class="prod-img-cont">
        <img
          src="https://images.pexels.com/photos/3861964/pexels-photo-3861964.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
          alt=""
          class="vis"
        />
        <button class="prod-account">
          <span class="material-icons"> stars </span>
          <p>Top Rated Seller</p>
        </button>
      </div>

      <div class="prod-wrapper">
        <div class="prod-text-cont">
          <p class="prod-name">
            Apple MacBook Air 13" - M1 Chip 8GB 256GB - Gold - MGND3LL/A -
            Flawless 2 Cycles
          </p>
          <div class="prod-ratings">
            <span class="material-icons prod-ratings"> star </span>
            <span class="material-icons prod-ratings"> star </span>
            <span class="material-icons prod-ratings"> star </span>
            <span class="material-icons prod-ratings"> star </span>
            <span class="material-icons prod-ratings"> star_border </span>
          </div>
          <p class="prod-price">USD 979.00</p>
          <p class="prod-shipping">+$100.00 shipping estimate</p>
        </div>

        <div class="prod-buttons-cont">
          <button class="prod-add-to-cart">
            <span class="material-icons"> add_shopping_cart </span>
            <p>Add to cart</p>
          </button>
          <button class="prod-add-to-wishlist">
            <span class="material-icons"> star_border </span>
            <p>Add to wishlist</p>
          </button>
          <button class="prod-add-to-watchlist">
            <span class="material-icons-outlined"> remove_red_eye </span>
            <p>Add to watchlist</p>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="prod-shipping-payments">
    <div class="prod-location">
      <p class="shipping-payments-title">
        <span class="material-icons shipping-payment-location">
          location_on </span
        >Item Location
      </p>
      <p class="shipping-payment">Toronto, Canada</p>
    </div>

    <div class="prod-shipping-location">
      <p class="shipping-payments-title">
        <span class="material-icons shipping-payment-shipping-location">
          local_shipping </span
        >Shipping Location
      </p>
      <p class="shipping-payment">Worldwide</p>
    </div>

    <div class="prod-does-not-ship-to">
      <p class="shipping-payments-title">
        <span class="material-icons shipping-payment-does-not-ship-to">
          error_outline </span
        >Does not ship to
      </p>
      <p class="shipping-payment">
        Africa, Bahrain, Iraq, Jordan, Kuwait, Lebanon, Oman, Qatar, Saudi
        Arabia, Turkey, United Arab Emirates, Yemen, Cambodia, Cayman Islands,
        Djibouti, French Polynesia, Honduras, Libya, Mongolia, Morocco, Ecuador,
        El Salvador, Suriname, Guyana, Panama, Mauritania, Mauritius, Somalia,
        Brunei Darussalam, Chad, Madagascar, New Caledonia, South Africa,
        Western Samoa, Côte d'Ivoire (Ivory Coast), Zimbabwe, Bahamas, Bermuda,
        Iran, Jamaica, Saint Kitts-Nevis, Saint Lucia, Trinidad and Tobago,
        Western Sahara, Wallis and Futuna, Nepal, Bolivia, Mali, Fiji, Angola,
        Cameroon, Cook Islands, Costa Rica, Gambia, Guatemala, Kyrgyzstan, Laos,
        Malawi, Papua New Guinea, Congo, Republic of the, Seychelles, Solomon
        Islands, Sudan, Tajikistan, Tanzania, Tonga, Uganda, Vanuatu, Venezuela,
        Botswana, Rwanda, Burma, Antigua and Barbuda, Burundi, Equatorial
        Guinea, Cuba, Republic of, Congo, Democratic Republic of the, Kiribati,
        Reunion, Dominican Republic, Aruba, Azerbaijan Republic, Barbados,
        Belize, Burkina Faso, Ghana, Grenada, Haiti, Liberia, Nicaragua, Sierra
        Leone, Central African Republic, Comoros, Martinique, Niger, Togo,
        Tuvalu, Uzbekistan, Dominica
      </p>
    </div>

    <div class="prod-return-policy">
      <p class="shipping-payments-title">
        <span class="material-icons shipping-payment-return-policy">
          keyboard_return </span
        >Return Policy
      </p>
      <p class="shipping-payment">
        Returns are accepted withing 7 days after shipping
      </p>
    </div>

    <div class="prod-payment-options">
      <p class="shipping-payments-title">
        <span class="material-icons shipping-payment-payments"> payments </span
        >Payments
      </p>
      <p class="shipping-payment">Payments via Paypal, MasterCard and Visa</p>
    </div>

    <div class="prod-ships-to-your-location">
      <p class="shipping-payments-title">
        <span class="material-icons shipping-payment-ships-to-your-location">
          check </span
        >This item ships to your location
      </p>
      <p class="shipping-payment">Bangladesh</p>
    </div>
  </div>
</div>

<script src="{% static 'main/js/product.js' %}"></script>

{% endblock content %}
