{% extends "templates/base.html" %} {% load static %}
<hr />
{% block title %} {{category.name}} {% endblock title %} {% block content %}
<link rel="stylesheet" href="{% static 'main/css/sub_category.css' %}" />

<div class="sub-categories">
  <div class="sub-categories__filters">
    <div class="filters__filter module shadow bg-white">
      <p class="s-m w-h">Price</p>
      <input type="range" min="5" max="10000" step="1" />
    </div>

    <div class="filters__filter module shadow bg-white">
      <p class="s-m w-h">Seller Ratings</p>
      <input type="range" min="0" max="5" step="1" />
    </div>

    <div class="filters__filter module shadow c-white bg-darkBlue">
      <p class="s-m w-h">Condition</p>
      <p class="s-s w-l">
        <input type="checkbox" />
        Brand New
      </p>
      <p class="s-s w-l">
        <input type="checkbox" />
        Used
      </p>
    </div>

    <div class="filters__filter module shadow c-white bg-orange">
      <p class="s-m w-h">Shipping</p>
      <p class="s-s w-l">
        <input type="checkbox" />
        Free
      </p>
      <p class="s-s w-l">
        <input type="checkbox" />
        International
      </p>
    </div>

    <div class="filters__filter module shadow bg-paleBlue">
      <p class="s-m w-h">Returns</p>
      <p class="s-s w-l">
        <input type="checkbox" />
        Paid returns
      </p>
      <p class="s-s w-l">
        <input type="checkbox" />
        Free returns
      </p>
      <p class="s-s w-l">
        <input type="checkbox" />
        No returns
      </p>
    </div>

    <div class="filters__filter module shadow c-white bg-red">
      <p class="s-m w-h">Seller Account</p>
      <p class="s-s w-l">
        <input type="checkbox" />
        New
      </p>
      <p class="s-s w-l">
        <input type="checkbox" />
        Top rated
      </p>
      <p class="s-s w-l">
        <input type="checkbox" />
        Verified
      </p>
    </div>
  </div>

  <div class="sub-categories__content">
    <div class="content__product-types">
      {% for product_type in product_types %}
      <a
        class="sub-categoryies__product-type"
        href="{% url 'main:product_type' product_type.id %}"
      >
        <p class="s-m w-m" style="position: relative; z-index: 1">
          {{product_type.name}}
        </p>
      </a>

      {% endfor %}
    </div>

    <div class="sub-categories__search">
      {% with type="text" %}
      <span></span>
      {% with title="Search" %}
      <span></span>
      {% with icon="search" %}
      <span></span>
      {% with name="search" %}
      <span></span>
      {% include "templates/textInput.html" %}
      <span></span>
      {% endwith %}
      <span></span>
      {% endwith %}
      <span></span>
      {% endwith %}
      <span></span>
      {% endwith %}
    </div>

    <div class="sub-categories__products">
      {% for product in products %}

      <div class="product">
        <!-- * TODO: Picture Link -->
        <div
          class="product__img"
          style="
            background-image: url('{{product.image_1.url}}');
          "
        ></div>
        <!-- * TODO: Blurred Background -->

        <div class="product__content">
          <!-- * TODO: Product Name -->
          <a href="{% url 'main:product' product.id %}">
            <p
              class="s-l w-h"
              style="height: 7.05vh; align-items: start; overflow: hidden"
            >
              {{product.name}}
            </p>
          </a>
          <!-- * TODO: Product Ratings -->
          <div style="display: flex; margin: 6.25px 0px">
            {% with ratings=product.ratings %}
            <span></span>
            {% include "templates/ratings.html" %}
            <span></span>
            {% endwith %}
          </div>
          <!-- * TODO: Product Price -->
          <p class="s-l w-h">USD {{ product.price }}</p>
          <!-- * TODO: Product Shipping Estimate -->
          <p class="s-m w-l">
            +USD {{ product.shipping_price }} shipping estimate
          </p>
          <!-- * TODO: Add to cart, watchlist and wishlist buttons -->
          <form method="POST" style="display: flex; margin-top: 6.25px">
            {% csrf_token %} {% if product in cart.products.all %}
            <button class="toggled c-red" type="submit" data-color="#ef233c">
              <input type="submit" name="cart" value="{{ product.id }}" />
              <span class="material-icons-outlined s-l">add_shopping_cart</span>
            </button>
            {% else %}
            <button class="toggle" type="submit" data-color="#ef233c">
              <input type="submit" name="cart" value="{{ product.id }}" />
              <span class="material-icons-outlined s-l">add_shopping_cart</span>
            </button>
            {% endif %} {% if product in wishlist.products.all %}
            <button class="toggled c-dark-blue" data-color="#3d5a80">
              <input type="submit" name="wishlist" value="{{ product.id }}" />
              <span class="material-icons-outlined s-l">star_border</span>
            </button>
            {% else %}
            <button class="toggle" data-color="#3d5a80">
              <input type="submit" name="wishlist" value="{{ product.id }}" />
              <span class="material-icons-outlined s-l">star_border</span>
            </button>
            {% endif %} {% if product in watchlist.products.all %}
            <button class="toggled c-orange" data-color="#ee6c4d">
              <input type="submit" name="watchlist" value="{{ product.id }}" />
              <span class="material-icons-outlined s-l">remove_red_eye</span>
            </button>
            {% else %}
            <button class="toggle" data-color="#ee6c4d">
              <input type="submit" name="watchlist" value="{{ product.id }}" />
              <span class="material-icons-outlined s-l">remove_red_eye</span>
            </button>
            {% endif %}
          </form>

          <!-- * TODO: Account Type -->

          {% if product.seller.account_type == "New Seller" %}

          <div class="product__account-type bg-red c-white">
            <span class="material-icons-outlined s-l">new_releases</span>
            <p class="s-s w-h" style="margin-left: 5px">
              {{ product.seller.account_type }}
            </p>
          </div>

          {% elif product.seller.account_type == "Top Rated Seller" %}

          <div class="product__account-type bg-orange c-white">
            <span class="material-icons-outlined s-l">auto_graph</span>
            <p class="s-s w-h" style="margin-left: 5px">
              {{ product.seller.account_type }}
            </p>
          </div>

          {% elif product.seller.account_type == "Verified Seller" %}

          <div class="product__account-type bg-darkBlue c-white">
            <span class="material-icons-outlined s-l">verified</span>
            <p class="s-s w-h" style="margin-left: 5px">
              {{ product.seller.account_type }}
            </p>
          </div>

          {% endif %}
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</div>

<script>
  const toggleBtns = document.querySelectorAll("button.toggle");

  toggleBtns.forEach((toggleBtn) => {
    toggleBtn.addEventListener("click", function () {
      toggleBtn.classList.toggle("toggled");

      if (toggleBtn.classList.contains("toggled")) {
        toggleBtn.style.color = toggleBtn.getAttribute("data-color");
      } else {
        toggleBtn.style.color = "black";
      }
    });
  });
</script>
<script src="{% static 'main/js/category.js' %}"></script>

{% endblock content %}
