/* CSS from other files */

#nav-add-product {
  background-color: #ffffffaf;
  color: var(--black);
}



/* Add Product */

.addProduct {
  width: calc(100%);
  height: calc(100vh);
  border-radius: 15px;
  padding: 25px;
  overflow: scroll;
}

.addProduct__inputContainer {
  width: 100%;
  height: fit-content;
  margin-bottom: 25px;
  position: relative;
}

.addProduct__input {
  padding: 6.25px 12.5px;
  font: 12.5px "Poppins";
  font-weight: 400;
  border-radius: 5px;
  outline: none;
  border: 1px solid #2f2f2f2f;
  margin: 6.25px 0px;
  width: 100%;
}

/* Uploaded Images */

.addProduct__imgUploadContainer {
  position: relative;
  margin: 6.25px 12.5px 6.25px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88px;
  width: 88px;
  border-radius: 15px;
  overflow: hidden;
  background-color: transparent;
}

.addProduct__imgUploadContainer span {
  position: absolute;
}

.addProduct__uploadBtn {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 88px;
  height: 88px !important;
  cursor: pointer;
}


/* Payments Via */


.toggle {
  width: calc((100% - 50px) / 3);
  display: flex;
  align-items: center;
  padding: 12.5px 25px;
  margin-top: 12.5px;
  border-radius: 5px;
  background-color: white;
  margin-right: 0px;
  color: black;
  cursor: pointer;
  box-shadow: -2px 2px 5px #d5d5d5, 2px -2px 5px #ffffff;
}

.toggle img{
  height: 15px;
  width: 15px;
  object-fit: contain;
  margin-right: 12.5px;
}

.toggle input{
  display: none;
}

.toggle:active,
.toggled:active {
  transform: scale(0.975, 0.975);
  filter: brightness(0.95);
  transition: 0.1s ease all;
  box-shadow: inset -2.5px 2.5px 5px #d5d5d5, inset 2.5px -2.5px 5px #ffffff;
}

.toggled {
  padding: 12.5px 25px;
  transform: scale(0.985, 0.985);
  background-color: white;
  box-shadow: inset -2px 2px 2px #d5d5d5, inset 2px -2px 2px #ffffff;
}


