/* CSS from other files */

#nav-crm {
  background-color: #ffffffaf;
  color: var(--black);
}

/* CRM */

.crm {
  height: calc(100vh);
  width: 100%;
  border-radius: 15px;
  display: grid;
  padding: 25px;
  padding-right: 0px;
  grid-template-columns: calc(100% / 2) calc(100% / 2);
}

/** Orders **/

.crm__order {
  width: calc(100% - 25px);
}

.order__link {
  padding: 0px !important;
  color: #3d5a80 !important;
  text-decoration: underline !important;
}

.order__table {
  width: 100%;
  background-color: #fafafa;
  border-radius: 15px;
  padding: 12.5px;
  margin-bottom: 25px;
}

.order__status {
  height: fit-content;
  width: fit-content;
  padding: 6.25px 12.5px;
  border-radius: 15px;
}

.order__product {
  width: 100%;
  height: 100px;
  border-radius: 15px;
  margin-bottom: 25px;
  display: flex;
  justify-content: start;
  align-self: flex-start;
}

.product-imgs {
  height: 100px;
  min-width: 100px;
  display: grid;
  grid-template-columns: 50px 50px;
  grid-template-rows: 50px 50px;
  border-radius: 15px;
  overflow: hidden;
  margin-right: 25px;
}

.product-imgs img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
