/* CSS from other files */

#nav-my-products {
  background-color: #ffffffaf;
  color: var(--black);
}

/* Add Product */

.editProduct {
  width: calc(100%);
  height: calc(100vh);
  border-radius: 15px;
  padding: 25px;
  overflow: scroll;
}

.editProduct__inputContainer {
  width: 100%;
  height: fit-content;
  margin-bottom: 25px;
  position: relative;
}

.editProduct__input {
  padding: 6.25px 12.5px;
  font: 12.5px "Poppins";
  font-weight: 400;
  border-radius: 5px;
  outline: none;
  border: 1px solid #2f2f2f2f;
  margin: 6.25px 0px;
  width: 100%;
}

.editProduct__paymentBtn {
  width: calc((100% - 50px) / 3);
  justify-content: start;
}

.editProduct__dropdownToggle {
  background: none !important;
  padding: 0 !important;
  color: #2f2f2f;
  position: absolute;
  right: 0px;
  top: 0px;
}

.editProduct__dropdownToggle--condition,
.editProduct__dropdownToggle--shipping {
  right: 12.5px;
}

.editProduct__imgUploadContainer {
  position: relative;
  margin: 6.25px 12.5px 6.25px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88px;
  width: 88px;
  border-radius: 15px;
  overflow: hidden;
  background-color: transparent;
}

.editProduct__imgUploadContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.editProduct__uploadBtn {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 88px;
  height: 88px !important;
  cursor: pointer;
}
