/* CSS from other files */

#nav-my-products {
  background-color: #ffffffaf;
  color: var(--black);
}

/* My Products */

.my_products {
  width: 100%;
  height: fit-content;
  padding: 25px 0px 25px 25px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 25px;
}

.product__link {
  padding: 0px !important;
  color: #3d5a80 !important;
  text-decoration: underline !important;
  align-self: flex-start;
  margin: 12.5px 0px 0px 0px !important;
}
