nav {
  height: calc(100vh - 50px);
  width: 100%;
  border-radius: 15px;
  box-shadow: -5px 5px 10px #d5d5d5, 5px -5px 10px #ffffff;
  padding: 25px;
  position: relative;
  background-color: white;
}

nav ul a span.material-icons-outlined {
  margin-right: calc(12.5px / 2);
  transform: scale(0.8, 0.8);
}

/* Profile and Cover Image Container */

div.img-cont {
  width: 100%;
  height: 17.5vh;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

/* Nav links Container */

ul {
  list-style: none;
}

a {
  margin-bottom: 12.5px;
  padding: calc(12.5px / 2) 12.5px;
  border-radius: 5px;
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-self: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: #2932412f;
}

a:active {
  background-color: #2932415f;
}

/* Sign Out Button */

button.sign-out {
  padding: calc(12.5px / 2) 12.5px;
  border-radius: 5px;
  display: flex;
  align-self: center;
  justify-content: start;
  width: calc(100% - 50px);
  background-color: #ef233c;
  position: absolute;
  bottom: 25px;
}

button.sign-out p {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 500;
}

button.sign-out span {
  margin-right: calc(12.5px / 2);
}
