/* CSS from other files */

#nav-crm {
  background-color: #ffffffaf;
  color: var(--black);
}

/* Add Product */

.order {
  width: calc(100%);
  height: calc(100vh);
  border-radius: 15px;
  overflow: scroll;
}

/** User **/

.order__info {
  width: calc(100% - 50px);
  height: fit-content;
  border-radius: 15px;
  display: flex;
  overflow: hidden;
  margin: 25px;
}

/* !User Info */

.info__user {
  flex: 0.25;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user__cover-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.75);
}

.user__profile-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 100%;
  margin-bottom: 6.25px;
}

/* !Order Info */

.info__order {
  flex: 0.75;
}

.info__order table {
  width: 100%;
  height: fit-content;
  padding: 18.75px 25px;
}

.info__order table tr td {
  padding: 6.25px;
}

/** Products **/

.order__products {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-left: 25px;
}

.products__product {
  width: calc(100% - 25px);
  height: 100px;
  border-radius: 15px;
  margin-bottom: 25px;
  display: flex;
  justify-content: start;
  align-self: flex-start;
}

.product-imgs {
  height: 100px;
  min-width: 100px;
  display: grid;
  grid-template-columns: 50px 50px;
  grid-template-rows: 50px 50px;
  border-radius: 15px;
  overflow: hidden;
  margin-right: 25px;
}

.product-imgs img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/** Order Status **/

.order__status {
  width: calc(100% - 50px);
  padding: 25px;
  margin-left: 25px;
  border-radius: 15px;
  box-shadow: var(--shadow);
}

.order__status p input {
  margin-right: 12.5px;
}

.order__status button {
  margin: 12.5px 0px 0px 0px !important;
}

/** Order Revenue **/

.order__revenue {
  width: 100%;
  height: fit-content;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.order__revenue .module {
  width: calc((100% - 50px) / 3);
}
