/* CSS from other files */

#nav-revenue {
  background-color: #ffffffaf;
  color: var(--black);
}

/* Revenue */

.revenue {
  width: calc(100%);
  height: calc(100vh);
  padding: 25px;
  overflow: scroll;
}

/* Revenue Info */

.revenue__revenue {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12.5px;
  border-bottom: 1px solid #2f2f2f2f;
  padding-bottom: 25px;
}

.revenue__timePeriod {
  padding: 25px;
  border-radius: 15px;
  width: calc((100% - 75px) / 4);
  cursor: pointer;
}

/* Revenue and Sales */

.revenue__revenueSales {
  display: flex;
  align-items: center;
  margin-top: 12.5px;
  border-bottom: 1px solid #2f2f2f2f;
  padding-bottom: 25px;
}

.revenueSales__info {
  width: 20%;
}

.revenueSales__graph {
  width: 80%;
  padding: 0px 25px;
  border-left: 1px solid #2f2f2f2f;
  padding: 0px 25px;
}

/* Bestsellers */

.revenue__bestsellers {
  margin-top: 12.5px;
  padding-bottom: 25px;
  border-bottom: 1px solid #2f2f2f2f;
}

.bestsellers__table {
  width: 100%;
}

.table__header {
  border-bottom: 1px solid #2f2f2f0f;
  padding: 12.5px 0px;
}

.table__text {
  border-bottom: 1px solid #2f2f2f0f;
  padding: 12.5px 0px;
}

/* Traffic */

.revenue__traffic {
  margin-top: 12.5px;
  padding-bottom: 25px;
  border-bottom: 1px solid #2f2f2f2f;
}

.traffic__btn {
  margin-right: 12.5px;
  font-size: 12.5px;
}

.traffic__info {
  width: 30%;
}

.traffic__graph {
  width: 70%;
  padding: 0px 25px;
  border-left: 1px solid #2f2f2f2f;
  padding: 0px 25px;
}

/* Product Interactions */

.revenue__productInteractions {
  display: flex;
  padding: 25px 0px;
  justify-content: space-between;
  border-bottom: 1px solid #2f2f2f2f;
}

.productInteractions__btn {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  padding: 25px;
  border-radius: 15px;
  width: calc((100% - 50px) / 3);
}

/* Latest Orders */

.revenue__latestOrders {
  margin-top: 12.5px;
  border-bottom: 1px solid #2f2f2f2f;
  padding-bottom: 25px;
}

.latestOrders__table {
  width: 100%;
}
