/* CSS from other files */

#nav-watchlist {
  background-color: #293241;
  color: white;
}

.view-cont {
  padding-right: 0px !important;
}

/* Watchlist */

.watchlist {
  width: calc(100% - 25px);
  margin-left: 25px;
  height: 100%;
  padding: 25px;
  border-radius: 15px;
}

.watchlist__shopMore {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border: 2.5px dotted #2f2f2f2f;
  border-radius: 15px;
  margin-top: 25px;
}

.watchlist__shopMore__text {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 500;
}

.watchlist__watchlist__header {
  border-bottom: 1px solid #2f2f2f2f;
  padding: 12.5px 0px;
}

.watchlist__watchlist__text {
  border-bottom: 1px solid #2f2f2f2f;
  padding: 12.5px 0px;
}

.watchlist__watchlist__text__change {
  background-color: #2f2f2f2f;
  padding: calc(12.5px / 2) 12.5px;
  width: fit-content;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
