/* CSS from other files */

#nav-wishlist {
  background-color: #ffffffaf;
  color: var(--black);
}

.view-cont {
  width: calc(80vw - 25px);
  padding: 0px !important;
}

.product a {
  margin: 0px !important;
  padding: 0px !important;
  width: 100% !important;
  height: fit-content !important;
}

.product p {
  height: fit-content !important;
}

/* Wishlist */

.wishlist {
  height: calc(100vh);
  overflow: scroll;
}

/** Wishlist **/

.wishlist {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

/** Products **/

.wishlist__products {
  width: 100%;
  height: 100%;
  padding: 25px 0px 25px 25px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
