* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: 0.1s ease all;
}

body {
  overflow-x: hidden;
}

button {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

/* -- */

::-webkit-scrollbar {
  width: 2.5px;
  height: 2.5px;
  background-color: none;
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10%;
  width: 5px;
  height: 5px;
  background-color: #a0a0a0;
  border-radius: 100px;
}

/* --*/

.material-icons {
  font-size: 20px;
}

p {
  font-family: "Maven Pro", sans-serif;
  font-size: 12.5px;
}

h1.title {
  font-family: "Maven Pro", sans-serif;
  font-weight: 100;
  font-size: 25px;
}

.hide {
  opacity: 0;
  transform: scale(0.5, 0.5);
  pointer-events: none;
  transition: 0.1s ease all;
}

/* --  */

/* Images  */

img.vis {
  width: 100%;
  align-self: center;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
img.blur {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  filter: blur(10px) contrast(1.5);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ----- Product Card ----- */

div.prod-card {
  height: 37.5vh;
  min-width: calc(35vw + 75px - 25px);
  max-width: calc(35vw + 75px - 25px);
  border-radius: 15px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-right: 25px;
  box-shadow: -5px 5px 10px #d5d5d5, 5px -5px 10px #ffffff;
}

div.prod-wrapper {
  display: flex;
  flex-direction: column;
  width: 65%;
}

/* Image Container  */

div.prod-img-cont {
  height: 100%;
  width: 35%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

button.prod-account {
  position: absolute;
  top: 12.5px;
  left: 12.5px;
  height: 42px;
  width: 42px;
  border-radius: 15px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f2f2f2f;
  transition: 0.25s ease all;
  cursor: pointer;
}

button.prod-account p {
  position: absolute;
  opacity: 0;
  font-family: "Poppins";
  font-size: 12.5px;
  font-weight: 400;
  width: 150px;
  transform: scale(0.5, 0.5);
  color: #2f2f2f;
}

button.prod-account span {
  font-size: 20px;
  color: #2f2f2f;
}

button.prod-account:hover {
  width: calc(100% - 25px);
}

button.prod-account:hover span {
  pointer-events: none;
  opacity: 0;
  transition: 0.25s ease all;
}

button.prod-account:hover p {
  opacity: 1;
  transition: 0.25s ease all;
  transform: scale(1, 1);
}

button.prod-account:active {
  transform: scale(0.9, 0.9);
}

a.prod-link {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

p.view-product {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 12.5px;
  font-weight: 500;
  opacity: 0;
  transition: 200ms ease all;
  pointer-events: none;
  z-index: 5;
}

a.prod-link:hover img.vis {
  filter: brightness(0.75);
}

a.prod-link:hover p.view-product {
  opacity: 1;
}

a.prod-link:active img.vis {
  filter: brightness(0.25);
}

/* Text Container */

div.prod-text-cont {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
  padding: 25px 0px 0px 25px;
}

p.prod-name {
  height: 10vh;
  overflow: hidden;
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  padding: 0px;
  margin: 0px;
}

/* Ratings Container */

div.prod-ratings {
  height: fit-content;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  margin: calc(12.5px / 2) 0px 0px 0px;
}

span.prod-ratings {
  font-size: 15px;
  opacity: 0.5;
  cursor: pointer;
}

/* Other Text */

p.prod-price {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  height: fit-content;
  overflow: hidden;
}

p.prod-shipping {
  font-size: 12.5px;
  font-family: "Poppins";
  opacity: 0.5;
  margin-left: calc(12.5px / 2);
}

/* Buttons Container */

div.prod-buttons-cont {
  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;
  margin: calc(12.5px / 2) 25px 25px 25px;
  overflow: visible;
}

/* ! Basic  */

button.prod-add-to-cart,
button.prod-add-to-wishlist,
button.prod-add-to-watchlist {
  height: 42px;
  width: 42px;
  border-radius: 15px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12.5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.1s ease all;
  background: #fafafa;
  box-shadow: -2px 2px 5px #d5d5d5, 2px -2px 5px #ffffff;
}

button.prod-add-to-cart span.prod-tick,
button.prod-add-to-wishlist span.prod-tick,
button.prod-add-to-watchlist span.prod-tick {
  position: absolute;
  opacity: 0;
  transform: rotateZ(-90deg) scale(0.5, 0.5);
  transition: 0.25s ease all;
}

button.prod-add-to-cart p,
button.prod-add-to-wishlist p,
button.prod-add-to-watchlist p {
  position: absolute;
  opacity: 0;
  font-family: "Poppins";
  font-size: 12.5px;
  font-weight: 400;
  width: 150px;
  transform: scale(0.5, 0.5);
}

button.prod-add-to-cart p {
  color: #293241;
}

button.prod-add-to-wishlist p {
  color: #ee6c4d;
}

button.prod-add-to-watchlist p {
  color: #2f2f2f;
}

button.prod-add-to-cart span,
button.prod-add-to-wishlist span,
button.prod-add-to-watchlist span {
  font-size: 20px;
  opacity: 0.5;
}

button.prod-add-to-cart span {
  color: #2f2f2f;
}
button.prod-add-to-wishlist span {
  color: #2f2f2f;
}
button.prod-add-to-watchlist span {
  color: #2f2f2f;
}

/* ! Active  */

button.prod-add-to-cart:active,
button.prod-add-to-wishlist:active,
button.prod-add-to-watchlist:active {
  transform: scale(0.9, 0.9);
  filter: brightness(0.95);
  transition: 0.1s ease all;
  box-shadow: inset -2.5px 2.5px 5px #d5d5d5, inset 2.5px -2.5px 5px #ffffff;
}

/* ! Pressed */

button.toggled {
  transform: scale(0.95, 0.95);
  box-shadow: inset -2px 2px 2px #d5d5d5, inset 2px -2px 2px #ffffff;
}

/* Filters  */

/* -- */

div.filter-price,
div.filter-seller-ratings,
div.filter-condition,
div.filter-delivery,
div.filter-returns,
div.filter-seller-account {
  width: 100%;
  height: fit-content;
  margin: 0px 0px 25px 0px;
  border-radius: 15px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fafafa;
  box-shadow: -5px 5px 10px #d5d5d5, 5px -5px 10px #ffffff;
}

div.filter-condition {
  background-color: #293241;
  color: #fafafa;
}

div.filter-delivery {
  background-color: #ee6c4d;
  color: #fafafa;
}

div.filter-returns {
  background-color: #98c1d9;
  color: #fafafa;
}

div.filter-seller-account {
  background-color: #ef233c;
  color: #fafafa;
}

/* -- */

h1.filter {
  font-size: 12.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 0px 0px 12.5px 0px;
}

/* -- */

input.filter-price,
input.filter-seller-ratings {
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 12.5px;
}

input.filter-condition,
input.filter-delivery,
input.filter-returns,
input.filter-seller-account {
  margin-right: 12.5px;
  cursor: pointer;
}

/* -- */

p.filter-condition,
p.filter-delivery,
p.filter-returns,
p.filter-seller-account {
  margin-bottom: 5px;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}

p.filter-price,
p.filter-seller-ratings {
  font-size: 12.5px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  align-self: flex-end;
  margin-top: 12.5px;
}

/* ----- Search -----  */

/* --  */

div.search-cont {
  width: calc(100% - 25px);
  margin-left: 25px;
  height: fit-content;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 25px;
  background-color: #fafafa;
  box-shadow: -5px 5px 10px #d5d5d5, 5px -5px 10px #ffffff;
  overflow: hidden;
}

/* --  */

input.search {
  width: 100%;
  height: 50px;
  margin: none;
  flex: 1;
  border-radius: 15px;
  outline: none;
  border: none;
  padding: 0px 25px;
  right: 0px;
  font-family: "Poppins", sans-serif;
  background: none;
}

input.search::placeholder {
  opacity: 0.5;
}

/* --  */

button.search {
  height: 50px;
  width: 50px;
  border-radius: 15px;
  background-color: #3d5a80;
  border: 5px solid #3d5a80;
}

button.search:active {
  filter: brightness(0.95);
  transition: 0.1s ease all;
  box-shadow: inset -2.5px 2.5px 5px #344d6d, inset 2.5px -2.5px 5px #466893;
}

/* --  */

span.search {
  font-size: 20px;
  color: #fff;
  opacity: 1;
}

/* --  */

/*----*/
