.nav {
  height: 10vh;
  padding: 12.5px 25px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
  background-color: #fafafa;
  box-shadow: var(--shadow);
}

.nav__index {
  padding: 6.25px 12.5px;
  border-bottom: 2.5px solid transparent;
}

.nav__index:hover {
  color: black;
  text-decoration: none;
}

.nav__links {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: start;
}

.links__link {
  margin-left: 25px;
}

/* --- Divs ---  */

.dropdown {
  width: 100%;
  max-height: 0px;
  border-radius: 0px 0px 15px 15px;
  background-color: #fafafa;
  box-shadow: var(--shadow);
  opacity: 1;
  position: absolute;
  top: 10vh;
  left: 0px;
  overflow: hidden;
  padding: 0px 25px;
  transition: 0.25s ease all;
  display: flex;
  flex-wrap: wrap;
}

.dropdown__link {
  height: 50px;
  width: fit-content;
  margin-bottom: 25px;
  margin-right: 25px;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 15px;
  padding-right: 12.5px;
}

.dropdown__link:hover {
  filter: brightness(0.95);
}

.dropdown__link:active {
  filter: brightness(0.9);
}

.dropdown__link__img {
  height: 100%;
  width: 50px;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  margin-right: 12.5px;
}
