/* ---------- Main ---------   */

div.main {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 25px 0px;
}

div.col1 {
  width: calc(100% - (70vw + 150px + 25px));
  height: fit-content;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-left: 12.5px;
  padding-top: 12.5px;
}

div.col2 {
  width: calc(70vw + 150px);
  height: fit-content;
  margin-right: 12.5px;
  padding: 12.5px 0px 0px 25px;
}

/* ----- Col 2 -----  */

/* --- Brand Image ---  */

div.brand-img {
  height: 30vh;
  width: calc(100%);
  position: relative;
  background-color: #fafafa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-self: center;
  border-radius: 15px;
}

p.brand {
  position: absolute;
  top: 25px;
  left: 25px;
  color: #f5f5f5;
  font-size: 30px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 100;
  backdrop-filter: blur(10px);
  padding: 6.25px 25px;
  border-radius: 15px;
}

div.search-cont {
  width: calc(100% - 25px);
  margin-left: 25px;
  height: 44px;
  margin-top: 12.5px;
  border-radius: 15px 0px 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 0px;
  opacity: 0;
  pointer-events: none;
}

button.show-search {
  width: 40px;
  height: 40px;
  border-radius: 15px 0px 15px 0px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: transparent;
  background-color: #2f2f2f2f;
  z-index: 99;
}

button.show-search:hover {
  background-color: #2f2f2f;
  height: 44px;
  width: 44px;
}

button.search {
  height: 100%;
  width: 44px;
  border-radius: 0px 0px 15px 0px;
  background-color: #ee6c4d;
  position: absolute;
  right: 0px;
  z-index: 2;
}

button.search:hover {
  filter: brightness(1.25);
}

button.search:active {
  filter: brightness(0.75);
}

span.search {
  font-size: 15px;
}

input.search {
  width: 50%;
  height: 44px;
  background-color: #fafafa;
  margin: none;
  flex: 1;
  border-radius: 15px 0px 15px 0px;

  outline: none;
  border: none;
  padding: 0px 0px 0px 25px;
  position: absolute;
  right: 0px;
  font-family: "Maven Pro", sans-serif;
}

input.search::placeholder {
  opacity: 0.5;
}

div.prods-cont {
  width: calc(70vw + 150px);
  height: fit-content;
  display: grid;
  grid-template-rows: calc(25vh + 130px);
  grid-row-gap: 25px;
  grid-template-columns:
    calc(14vw + 30px) calc(14vw + 30px) calc(14vw + 30px)
    calc(14vw + 30px) calc(14vw + 30px);
  grid-auto-flow: row;
  border-radius: 5px;
  align-items: start;
  justify-content: center;
  margin-top: 25px;
}
