div.main {
  width: 100%;
  height: fit-content;
  display: flex;
  padding: 25px;
}

nav.nav {
  display: none;
}

/* --- Info Container ---  */

div.info {
  height: calc(100vh - 50px);
  flex: 1;
  background-color: white;
  border-left: 1px solid #2f2f2f2f;
  padding: 0px 0px 0px 25px;
}

div.account,
div.shipping {
  width: 100%;
  height: fit-content;
  padding: 25px;
  background-color: #fafafa;
  border-radius: 20px;
  margin-bottom: 25px;
}

div.price-calculator {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 25px;
  display: grid;
  padding: 25px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  align-items: center;
  grid-row-gap: 12.5px;
}

p.account-header,
p.shipping-header {
  font-family: "Maven Pro";
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

p.account-info,
p.shipping-info {
  font-family: "Open Sans";
  font-size: 12.5px;
  margin-top: 10px;
  opacity: 0.75;
}

p.items-text {
  grid-row: 1;
  grid-column: 1;
  font-weight: 500;
  align-self: center;
  font-size: 15px;
}

p.total-price-text {
  grid-row: 2;
  grid-column: 1;
  font-weight: 500;
  font-size: 15px;
}

p.items {
  grid-row: 1;
  grid-column: 2;
  justify-self: flex-end;
  font-size: 15px;
}

p.total-price {
  grid-row: 2;
  grid-column: 2;
  justify-self: flex-end;
  font-size: 15px;
}

span.account-icon,
span.shipping-icon {
  margin-right: 6.75px;
  color: #3d5a80;
  background-color: #3d5a802f;
  border-radius: 25px;
  padding: 6.25px;
  font-size: 17.5px;
}

button.payments-button {
  height: 50px;
  width: 100%;
  background-color: #3d5a80;
}

button.payments-button:hover {
  box-shadow: 0 2.5px 2.5px -5px #3d5a805f, 0 2px 2px -10px #3d5a805f,
    0 4px 4px -10px #3d5a805f, 0 8px 8px -10px #3d5a805f,
    0 16px 16px -10px #3d5a805f;
}

/* --- Cart ---  */

div.cart {
  width: calc(14vw + 30px + 14vw + 30px + 14vw + 30px + 14vw + 30px + 14vw);
  border: 2.5px solid black;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* --- Cart Header ---  */

div.cart-header{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
}

p.cart-header{
  font-size: 25px;
}

/* --- Products Container ---  */

div.prods-cont {
  flex: 1;
  width: fit-content;
  display: grid;
  grid-template-rows: calc(25vh + 130px);
  grid-template-columns: calc(14vw + 30px) calc(14vw + 30px) calc(14vw + 30px) calc(
      14vw + 30px
    );

  grid-row-gap: 25px;
  background-color: red;
  grid-auto-flow: row;
  align-items: start;
  justify-content: center;
}
