.categories {
  width: 100%;
  position: relative;
  display: flex;
  padding-bottom: 25px;
}

.categories__filters,
.categories__content {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Product Filters */

.categories__filters {
  width: calc((100% - 200px) / 7);
  margin-left: 25px;
  height: 50vh;
}

.filters__filter {
  margin-top: 25px;
  width: 100%;
}

.filters__filter .s-s {
  margin-top: 6.25px;
}

input[type="range"] {
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 12.5px;
  margin-top: 6.25px;
}

input[type="checkbox"] {
  margin-right: 6.25px;
}

/* Categories Content */

.categories__content {
  height: fit-content;
  width: calc(100% - 25px - ((100% - 200px) / 7));
}

/* Sub-categories */

.content__sub-categories {
  height: fit-content;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  padding: 25px 0px 25px 25px;
}

.categories__sub-category {
  min-width: calc((100vw - 200px) / 7);
  max-width: calc((100vw - 200px) / 7);
  height: calc(((100vw - 200px) / 7) / 2);
  background-color: white;
  margin-right: 25px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: 200ms ease all;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

.sub-category__img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  position: absolute;
  filter: blur(1px) brightness(0.75);
}

.categories__sub-category:active {
  transform: scale(0.95, 0.95);
  box-shadow: none;
}

/* Search */

.categories__search {
  width: 100%;
  padding: 0px 25px;
}

.textInput {
  border-radius: 15px !important;
  box-shadow: var(--shadow);
  border: 1px solid transparent !important;
  margin: 0 !important;
}

.textInput:focus-within {
  border-color: var(--orange) !important;
}

/* Products */

.categories__products {
  width: 100%;
  height: fit-content;
  padding: 25px 0px 25px 25px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 25px;
  overflow: hidden;
}
