/* ----- Remove items ----- */

body {
  background-color: #fafafa;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* ----- Main Container ----- */

div.main-cont {
  width: 100%;
  height: fit-content;
  display: flex;
  padding: 0px 12.5px;
  background-color: #fafafa;
}

div.col1,
div.col2 {
  height: fit-content;
  padding: 12.5px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.col1 {
  width: calc(100% - (70vw + 150px + 25px));
  margin-left: 12.5px;
  padding-top: 25px;
}
div.col2 {
  align-items: flex-start;
  width: calc(70vw + 150px);
}

/* ----- Column 1 ----- */

/* --- User Info --- */

div.user-info {
  width: 100%;
  height: 197px;
  margin: 0px 0px 25px 0px;
  border-radius: 15px;
  padding: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #fafafa;
  box-shadow: -5px 5px 10px #d5d5d5, 5px -5px 10px #ffffff;
}

div.user-img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  overflow: hidden;
}

p.username {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-top: 25px;
}

/* --- User Info Buttons --- */

button.view-cart,
button.view-wishlist,
button.view-watchlist,
button.settings {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: -5px 5px 10px #d5d5d5, 5px -5px 10px #ffffff;
}

button.view-cart {
  background-color: #293241;
}

button.view-wishlist {
  background-color: #ee6c4d;
}

button.view-watchlist {
  background-color: #3d5a80;
}

button.settings {
  background-color: #2f2f2f;
}

button.view-cart span,
button.view-wishlist span,
button.view-watchlist span,
button.settings span {
  width: 50px;
  height: 50px;
  border-radius: 0px 15px 15px 0px;
  font-size: 15px;
  color: #fafafa;
  background-color: #fafafa2f;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12.5px;
}

button.view-cart p,
button.view-wishlist p,
button.view-watchlist p,
button.settings p {
  flex: 1;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 12.5px;
  font-weight: 400;
}

/* ----- Column 2 ----- */

/* --- Information Card --- */

div.user-banner {
  width: calc(100% - 25px);
  height: 197px;
  border-radius: 15px;
  margin: 12.5px 0px 25px 25px;
  box-shadow: -5px 5px 10px #d5d5d5, 5px -5px 10px #ffffff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.information {
  width: calc(100% - 25px);
  height: fit-content;
  margin-left: 25px;
  border-radius: 15px;
  position: relative;
  display: grid;
}

div.info-card {
  width: fit-content;
  height: fit-content;
  padding: 25px;
  border-radius: 15px;
  box-shadow: -5px 5px 10px #d5d5d5, 5px -5px 10px #ffffff;
}

h1.info-card-title {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 12.5px;
}

a.learn-more {
  width: 100%;
  background-color: #fafafa2f;
  justify-content: end;
  margin-top: 12.5px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 12.5px;
  font-family: "Poppins", sans-serif;
  border-radius: 15px;
}

/* --- Recently Viewed Items --- */

div.recently-viewed-items {
  min-width: calc(35vw + 75px + 25px);
  max-width: calc(35vw + 75px + 25px);
  color: #2f2f2f;
  grid-row: 1 / span 2;
  grid-column: 1;
}

div.recently-viewed-items-prods-cont {
  width: calc(100%);
  height: calc(37.5vh);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  border-radius: 15px;
  overflow-y: scroll;
  box-shadow: inset -5px 5px 10px #d5d5d5, inset 5px -5px 10px #ffffff;
}

/* --- Cart Info --- */

div.cart-info {
  background-color: #293241;
  color: white;
  padding: 25px 25px 0px 25px;
  width: calc(100% - 25px - (35vw + 75px + 25px));
  grid-row: 1;
  grid-column: 1 / span 2;
  justify-self: flex-end;
}

div.cart-info-number-of-items,
div.cart-info-subtotal {
  background-color: #293241;
  width: 100%;
  height: 44px;
  border-radius: 15px;
  box-shadow: -5px 5px 10px #1f2631, 5px -5px 10px #333f51;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

div.cart-info-number-of-items span,
div.cart-info-subtotal span {
  width: 44px;
  height: 44px;
  border-radius: 15px;
  font-size: 15px;
  color: #fafafa;
  background-color: #fafafa2f;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12.5px;
}

div.cart-info-number-of-items p,
div.cart-info-subtotal p {
  font-size: 12.5px;
  font-family: "Poppins", sans-serif;
}

div.cart-info-number-of-items p.sub-title,
div.cart-info-subtotal p.sub-title {
  font-weight: 500;
  margin-right: 12.5px;
}

div.cart-info-number-of-items p.body,
div.cart-info-subtotal p.body {
  font-weight: 300;
  margin-right: 12.5px;
}

/* --- Wishlist Info --- */

div.wishlist-info {
  margin-top: 25px;
  color: white;
  background-color: #ee6c4d;
  padding: 25px 25px 0px 25px;
  width: calc(((100% - 25px - (35vw + 75px + 25px)) / 2) - 12.5px);
  grid-row: 2 / span 2;
  grid-column: 1 / span 2;
  justify-self: end;
}

div.wishlist-info-container {
  flex: 1;
  height: calc(100% - 25px - 25px - 15px);
  background-color: #fafafa2f;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

div.wishlist-info-container p.sub-title {
  font-size: 15px;
  text-align: center;
}

/* --- Watchlist Info --- */

div.watchlist-info {
  margin-top: 25px;
  color: white;
  background-color: #3d5a80;
  padding: 25px 25px 0px 25px;
  width: calc(((100% - 25px - (35vw + 75px + 25px)) / 2) - 12.5px);
  grid-row: 2 / span 2;
  grid-column: 1 / span 2;
  justify-self: end;
  transform: translateX(-100%);
  margin-right: 25px;
}

div.watchlist-info-container {
  flex: 1;
  height: calc(100% - 25px - 25px - 15px);
  background-color: #fafafa2f;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

div.watchlist-info-container p.sub-title {
  font-size: 15px;
  text-align: center;
}
