.main {
  width: 100%;
  padding: 25px;
  position: relative;
}

.main__banner {
  height: 40vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  box-shadow: var(--shadow);
}

.main__search {
  width: 100%;
  margin-top: 25px;
}

.textInput {
  border-radius: 15px !important;
  box-shadow: var(--shadow);
  border: 1px solid transparent !important;
  margin: 0 !important;
}

.textInput:focus-within {
  border-color: var(--orange) !important;
}

.main__categories {
  height: fit-content;
  position: absolute;
  left: 0px;
  padding: 25px;
  width: 100%;
  display: flex;
  overflow-x: scroll;
}

.categories__category {
  border-radius: 15px;
  height: calc((100vw - 200px) / 7);
  background-size: cover;
  background-position: center;
  min-width: calc((100vw - 200px) / 7);
  max-width: calc((100vw - 200px) / 7);
  margin-right: 25px;
  position: relative;
  overflow: hidden;
  transition: 200ms ease all;
  box-shadow: var(--shadow);
}

.categories__category:active {
  transform: scale(0.95, 0.95);
  filter: brightness(0.25);
  box-shadow: none;
}

.category__text {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-size: 12.5px;
  opacity: 1;
  bottom: 0px;
  right: 0px;
  background-color: #fff;
  color: #2f2f2f;
  border-radius: 15px 0px 0px 0px;
  max-width: calc(100% - 10px);
  padding: 6.725px 25px;
  text-align: center;
}

.categories__category:hover .category__text {
  bottom: 5px;
  right: 5px;
  border-radius: 15px;
}

.main__products {
  width: 100%;
  position: absolute;
  left: 0px;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  padding: 25px 25px 25px 25px;
  overflow-x: scroll;
  margin-top: calc((100vw - 200px) / 7 + 25px);
}

.prod-card {
  min-width: calc((100% - 25px) / 2) !important;
  margin-right: 25px;
}
