/* ---------- Main ---------   */

div.main {
  width: 100%;
  height: fit-content;
  display: flex;
  padding: 0px 12.5px;
}

div.col1,
div.col2 {
  height: fit-content;
  padding: 12.5px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.col1 {
  width: calc(100% - (70vw + 150px + 25px));
  margin-left: 12.5px;
  padding-top: 25px;
  position: relative;
}
div.col2 {
  width: 82.5%;
  align-items: flex-start;
  width: calc(70vw + 150px);
}

br {
  display: none;
}

/* ---------- Col 2  ----------  */

/* --- Filter Container ---  */

button.filter {
  height: 50px;
  width: 50px;
  border-radius: 15px;
  background-color: #ee6c4d;
  border: 5px solid #ee6c4d;
}

button.filter:active {
  filter: brightness(0.95);
  transition: 0.1s ease all;
  box-shadow: inset -2.5px 2.5px 5px #ca5c41, inset 2.5px -2.5px 5px #ff7c59;
}

button.filter span {
  font-size: 20px;
  color: #fff;
  opacity: 1;
}

/* --- */

div.filter-container {
  height: calc(90vh - 50px);
  width: 100%;
  z-index: 1000;
  top: 25px;
  position: absolute;
  border-radius: 15px;
  transition: 0.5s ease all;
  overflow-x: visible;
}

div.filter-container-hide {
  transform: translateX(-150%);
}

div.filter-container-aurora {
  transition: 0.5s ease all;
}

div.filter-container-aurora-hide {
  opacity: 0;
  transform: translateX(-50%);
  transition: 0.5s ease all;
}

/* --- */

div.filter-container-categorized {
  width: calc(14vw + 5px);
  min-height: 77px;
  max-height: fit-content;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.25s ease all;
  user-select: none;
  background-color: #fafafa;
  box-shadow: -5px 5px 10px #d5d5d5, 5px -5px 10px #ffffff;
  color: white;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

div.filter-container-categorized:nth-child(4n + 1) {
  background-color: #293241;
}

div.filter-container-categorized:nth-child(4n + 2) {
  background-color: #3d5a80;
}

div.filter-container-categorized:nth-child(4n + 3) {
  background-color: #ee6c4d;
}

div.filter-container-categorized:nth-child(4n + 4) {
  background-color: #2f2f2f;
}

/* --- */

div.filter-container-categorized div.header {
  display: flex;
  width: 100%;
  height: fit-content;
  /* height: calc(77px - 50px); */
  align-items: flex-start;
  justify-content: space-between;
}

div.filter-container-categorized div.header p.title {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

div.filter-container-categorized div.header button.show-hide-filters {
  width: fit-content;
  border-radius: 100%;
  font-size: 12.5px;
  cursor: pointer;
  background: none;
}

/* --- */

div.filter-container-categorized div.header span.show-hide-filters-active {
  transform: rotateZ(90deg);
}

div.filter-container-categorized:nth-child(4n + 1) button {
  border-radius: 100%;
  background: linear-gradient(225deg, #2c3646, #252d3b);
  box-shadow: -5px 5px 10px #1b222c, 5px -5px 10px #374356;
}

div.filter-container-categorized:nth-child(4n + 2) button {
  border-radius: 100%;
  background: linear-gradient(225deg, #416089, #375173);
  box-shadow: -5px 5px 10px #344d6d, 5px -5px 10px #466893;
}

div.filter-container-categorized:nth-child(4n + 3) button {
  border-radius: 100%;
  background: linear-gradient(225deg, #ff7452, #d66145);
  box-shadow: -5px 5px 10px #ca5c41, 5px -5px 10px #ff7c59;
}

div.filter-container-categorized:nth-child(4n + 4) button {
  border-radius: 100%;
  background: linear-gradient(225deg, #323232, #2a2a2a);
  box-shadow: -5px 5px 10px #282828, 5px -5px 10px #363636;
}

/* --- */

div.filter-container-categorized div.collapsible-filter-container {
  max-height: fit-content;
  transition: 0.5s ease all;
}

div.filter-container-categorized div.collapsible-filter-container-hide {
  max-height: 0vh;
  overflow: hidden;
  transition: 0.5s ease all;
}

div.filter-container-categorized div.filter {
  display: flex;
  align-items: center;
  padding: 5px;
}

div.filter-container-categorized div.filter input.filter {
  margin-right: 12.5px;
}

div.filter-container-categorized div.filter p.filter {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

/* --- Filter Row Container ---  */

div.filter-row {
  width: calc(100% - 12.5px);
  height: fit-content;
  margin-left: 12.5px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  background: none;
  padding: 12.5px 0px 12.5px 12.5px;
  overflow-y: visible;
  overflow-x: scroll;
}

div.filter-rows-wrapper {
  overflow: hidden;
  width: calc(100%);
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 0px 0px 0px 0px;
}

a.filter-card {
  min-width: calc(14vw + 5px);
  max-width: calc(14vw + 5px);
  height: 77px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.25s ease all;
  user-select: none;
  background-color: #fafafa;
  box-shadow: -5px 5px 10px #d5d5d5, 5px -5px 10px #ffffff;
}

a.filter-card:active {
  transform: scale(0.9, 0.9);
  filter: brightness(0.95);
  transition: 0.1s ease all;
  box-shadow: inset -2.5px 2.5px 5px #d5d5d5, inset 2.5px -2.5px 5px #ffffff;
}

a.filter-card-toggled {
  transform: scale(0.95, 0.95);
  box-shadow: inset -2px 2px 2px #d5d5d5, inset 2px -2px 2px #ffffff;
}

p.filter-card {
  color: #2f2f2f;
  font-family: "Poppins", sans-serif;
  font-size: 12.5px;
  margin-left: 12.5px;
  margin-right: 12.5px;
  align-self: center;
  justify-self: center;
  text-align: center;
}

/* --- Products Container ---  */

div.prods-cont {
  width: 100%;
  height: 37.5vh;
  display: grid;
  grid-template-rows: 37.5vh;
  grid-template-columns: calc(35vw + 75px) calc(35vw + 75px);
  padding-left: 25px;
  grid-row-gap: 25px;
}
