.seller {
  width: 100%;
  padding: 25px 0px;
  position: relative;
}

/* ------ */

.seller__info {
  height: fit-content;
  width: calc(100% - 50px);
  margin-left: 25px;
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  box-shadow: var(--shadow);
}

.info__dp {
  height: 15vh;
  width: 15vh;
  border-radius: 100%;
  border: 5px solid white;
  background-size: cover;
  background-position: center;
  margin-bottom: 6.25px;
}

/* ------ */

.seller__ratings {
  width: calc(100% - 50px);
  margin-left: 25px;
  display: flex;
  justify-content: space-between;
}

.ratings__rating {
  padding: 25px;
  border-radius: 15px;
  width: calc((100% - 75px) / 4);
  box-shadow: var(--shadow);
}

.progress-bar {
  height: 5px;
  background-color: white;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 6.25px;
}

.progress {
  height: 100%;
  filter: brightness(0.75);
}

/* ------ */

.textInput {
  width: calc(100% - 50px);
  margin-left: 25px;

  border-color: white !important;
  margin-top: 25px;
  box-shadow: var(--shadow);
  border-radius: 15px !important;
  overflow: hidden;
}

.textInput:focus-within {
  border: 1px solid var(--orange) !important;
  color: var(--orange) !important;
}

/* ------ */

.seller__prods {
  width: 100%;
  height: fit-content;
  padding: 12.5px 25px 25px 25px;
  display: flex;
  overflow-x: scroll;
}

.product {
  min-width: calc((100% - 25px) / 2) !important;
  max-width: calc((100% - 25px) / 2) !important;
}

.product:last-child {
  margin-right: 0px !important;
}

/* ------ */

.seller__reviews {
  height: fit-content;
  min-width: 100%;
  max-width: fit-content;
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  position: absolute;
  left: 0px;
  padding: 25px;
  padding-top: 0px;
}

.reviews__review {
  padding: 25px;
  border-radius: 15px;
  box-shadow: var(--shadow);
  min-width: calc((100% - 100px) / 5);
  max-width: calc((100% - 100px) / 5);
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 25px;
}

.review__dp {
  height: 15vh;
  width: 15vh;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: 12.5px;
}
