/* -------------------- Main Container -----------------------  */

div.main-cont {
  width: 100%;
  height: fit-content;
  display: flex;
  padding: 0px 12.5px;
  background-color: #fafafa;
}

div.col1,
div.col2 {
  height: fit-content;
  padding: 12.5px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.col1 {
  width: calc(100% - (70vw + 150px + 25px));
  margin-left: 12.5px;
  padding-top: 25px;
}
div.col2 {
  align-items: flex-start;
  width: calc(70vw + 150px);
}

/* -------------------- Column 1 -----------------------  */

/* -------------------- Column 2 -----------------------  */

/* ----- Category ----- */

/* -- */

div.cat-cont-wrapper {
  width: calc(100% - 12.5px);
  height: fit-content;
  margin-left: 12.5px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  background: none;
  overflow-y: visible;
  overflow-x: scroll;
  position: relative;
  padding-left: 12.5px;
}

button.cat-cont-left,
button.cat-cont-right {
  height: 50px;
  width: 50px;
  border-radius: 15px;
  position: fixed;
  z-index: 100;
  overflow: hidden;
  background-color: #293241;
  border: 5px solid #293241;
  transition: 200ms ease all;
  opacity: 0.25;
  top: calc(10vh + 25px + 144px - 25px - 72px);
}

button.cat-cont-left:hover,
button.cat-cont-right:hover {
  opacity: 1;
}

button.cat-cont-left:active,
button.cat-cont-right:active {
  box-shadow: inset -5px 5px 10px #202732, inset 5px -5px 10px #323e50;
}

button.cat-cont-left {
  left: calc(100% - 70vw - 150px - 25px + 50px);
}

button.cat-cont-right {
  right: 50px;
}

/* -- */

div.cat-cont {
  width: fit-content;
  height: fit-content;
  border-radius: 15px;
  display: flex;
  align-items: center;
  background: none;
  padding: 12.5px 0px 25px 0px;
  overflow-y: visible;
  overflow-x: visible;
  transition: 0.5s ease all;
}

a.cat-card {
  background: none;
  border-radius: 15px;
  height: 144px;
  min-width: 144px;
  max-width: 144px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 99;
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms ease all;
  box-shadow: -5px 5px 10px #d5d5d5, 5px -5px 10px #ffffff;
}

a.cat-card:hover {
  transform: scale(1.05, 1.05);
}

a.cat-card:active {
  transform: scale(0.95, 0.95);
  filter: brightness(0.25);
  box-shadow: none;
}

p.cat {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-size: 12.5px;
  opacity: 1;
  bottom: 0px;
  right: 0px;
  background-color: #fafafa;
  color: #2f2f2f;
  border-radius: 15px 0px 0px 0px;
  max-width: calc(100% - 10px);
  padding: 6.725px 25px;
  text-align: center;
}

a.cat-card:hover p.cat {
  bottom: 5px;
  right: 5px;
  border-radius: 15px;
}

/* --  */

/* ----- Products -----  */

div.prods-cont {
  width: 100%;
  height: 37.5vh;
  display: grid;
  grid-template-rows: 37.5vh;
  grid-template-columns: calc(35vw + 75px) calc(35vw + 75px);
  padding-left: 25px;
  grid-row-gap: 25px;
}

div.prod-card {
  margin-right: 25px;
  position: relative;
  transition: 200ms ease all;
}

div.prod-card a.prod-link {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

p.view-product {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 12.5px;
  font-weight: 500;
  opacity: 0;
  transition: 200ms ease all;
  pointer-events: none;
  z-index: 5;
}

div.prod-card a.prod-link:hover img.vis {
  filter: brightness(0.75);
}

div.prod-card a.prod-link:hover p.view-product {
  opacity: 1;
}

div.prod-card a.prod-link:active img.vis {
  filter: brightness(0.25);
}
