@import url("/static/base/css/base.css");

.main {
  width: 100%;
  position: relative;
  height: fit-content;
}

/** CSS from other files **/

.module {
  width: calc(100% - 12.5px) !important;
}

.toggle {
  margin-right: 12.5px;
}

.product {
  min-width: calc((100% - 25px) / 2) !important;
  max-width: calc((100% - 25px) / 2) !important;
}

.product:last-child {
  margin-right: 0px !important;
}

/** Image Container **/

.main__img-container {
  height: 90vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-right: 12.5px;
}

.img-container__big-img {
  width: 100%;
  flex: 1;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  box-shadow: var(--shadow);
}

.img-container__small-img {
  border-radius: 15px;
  margin-top: 25px;
  width: 21.88%;
  height: calc(131.82px);
  background-position: center;
  background-size: cover;
  box-shadow: var(--shadow);
  cursor: pointer;
}

.img-container__small-img:active {
  transform: scale(0.95, 0.95);
  box-shadow: none;
}

/** Info Container **/

.main__info-container {
  height: 90vh;
  width: 50%;
  padding: 25px;
  padding-left: 12.5px;
  display: flex;
  flex-direction: column;
}

.info-container__product-info {
  display: flex;
  height: fit-content;
  margin-top: 25px;
}

.info-container__product-info .module {
  width: calc(100%) !important;
  margin-bottom: 25px;
}

/** Features Container **/

.main__features {
  height: fit-content;
  width: calc(100% - 50px);
  margin: 0px 25px;
  border-radius: 15px;
  padding: 12.5px 25px;
  margin-bottom: 25px;
}

.features__cell {
  border-bottom: 1px solid #2f2f2f0f;
  padding: 12.5px 0px;
}

/** Seller Information **/

/* !Seller */

.main__seller-info {
  height: fit-content;
  width: 100%;
}

.seller-info__seller {
  height: fit-content;
  width: calc(100% - 50px);
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  box-shadow: var(--shadow);
  margin: 0px 25px;
}

.seller__dp {
  height: 15vh;
  width: 15vh;
  border-radius: 100%;
  border: 5px solid white;
  background-size: cover;
  background-position: center;
  margin-bottom: 6.25px;
}

/* !Ratings */

.seller-info__ratings {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.ratings__rating {
  width: calc((100% - 50px) / 3) !important;
}

.progress-bar {
  height: 5px;
  background-color: white;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 6.25px;
}

.progress {
  height: 100%;
  filter: brightness(0.75);
}

/* !Reviews */

.seller-info__reviews {
  height: fit-content;
  min-width: 100%;
  max-width: fit-content;
  display: flex;
  justify-content: start;
  overflow-x: scroll;
  padding-bottom: 25px;
}

.reviews__review {
  padding: 25px;
  border-radius: 15px;
  box-shadow: var(--shadow);
  min-width: calc((100% - 100px) / 5);
  max-width: calc((100% - 100px) / 5);
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 25px;
  background-color: white;
}

.review__dp {
  height: 15vh;
  width: 15vh;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: 12.5px;
}

/* !Products */

.seller-info__products {
  width: 100%;
  height: fit-content;
  padding: 0px 25px;
  padding-bottom: 25px;
  display: flex;
  overflow-x: scroll;
}

/** Shipping and Payment Information **/

.main__shipping-info {
  height: fit-content;
  width: 100%;
  padding: 0px 25px;
  display: flex;
}

.main__shipping-info .module {
  width: 100% !important;
  margin-bottom: 25px;
}
