.product-type {
  width: 100%;
  position: relative;
  display: flex;
  padding-bottom: 25px;
}

.product-type__filters,
.product-type__content {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Product Filters */

.product-type__filters {
  width: calc((100% - 200px) / 7);
  margin-left: 25px;
  height: 50vh;
}

.filters__filter {
  margin-top: 25px;
  width: 100%;
}

.filters__filter .s-s {
  margin-top: 6.25px;
}

input[type="range"] {
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 12.5px;
  margin-top: 6.25px;
}

input[type="checkbox"] {
  margin-right: 6.25px;
}

/* Categories Content */

.product-type__content {
  height: fit-content;
  width: calc(100% - 25px - ((100% - 200px) / 7));
}

/* Children product types */

.content__children-product-types {
  height: fit-content;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  padding: 25px 0px 25px 25px;
}

.children-product-types__children-product-type {
  min-width: calc((100vw - 200px) / 7);
  max-width: calc((100vw - 200px) / 7);
  height: calc(((100vw - 200px) / 7) / 2);
  background-color: white;
  margin-right: 25px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: 200ms ease all;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  padding: 25px;
}

.children-product-types__children-product-type:active {
  transform: scale(0.95, 0.95);
  box-shadow: none;
}

/* Search */

.product-type__search {
  width: 100%;
  padding: 0px 25px;
  display: flex;
}

.search__filterBtn {
  border-radius: 15px;
  margin-right: 25px;
  height: 45px;
  width: 45px;
  background-color: var(--orange);
}

.textInput {
  border-radius: 15px !important;
  box-shadow: var(--shadow);
  border: 1px solid transparent !important;
  margin: 0 !important;
  width: 100% !important;
}

.textInput:focus-within {
  border-color: var(--orange) !important;
}

/* Products */

.product-type__products {
  width: 100%;
  height: fit-content;
  padding: 25px 0px 25px 25px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 25px;
  overflow: hidden;
}

/* Main Filters */

.product-type__main-filters {
  height: calc(100vh);
  padding: 25px;
  width: calc(100%);
  background-color: #2f2f2f2f;
  position: absolute;
  top: 0px;
  z-index: 50;
}

.main-filters__filters-container {
  height: calc(100% - 50px);
  width: calc(100% - 50px);
  margin: 25px 0px 0px 25px;
  background-color: white;
  border-radius: 15px;
  overflow: scroll !important;
  padding: 25px;
  display: flex;
  align-items: flex-start;
}

.main-filters__exit-btn {
  border-radius: 100%;
  position: absolute;
  z-index: 750;
  padding: 12.5px;
  top: calc(25px + 12.5px);
  left: calc(25px + 12.5px);
}

.filters-container__filter-categories {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  padding-right: 25px;
  position: relative;
  height: 100%;
}

.filter-categories__btn {
  background-color: #ffffff;
  color: black !important;
  justify-content: start;
  margin-bottom: 12.5px;
}

.filter-categories__btn:hover {
  background-color: var(--orange);
  color: white !important;
}

.filter-categories__submitBtn {
  background-color: #2f2f2f2f !important;
}

.filters-container__filters {
  height: 100%;
  padding: 0px 0px 0px 25px;
  flex: 0.7;
  border-left: 1px solid #2f2f2f2f;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
